@charset "utf-8";
/* CSS Document */
/* 全局*/
*{margin:0px; padding:0px; list-style:none;text-decoration:none;border:none}
.clear{clear:both}
body{
    width:100%;
    width:expression(document.body.clientWidth <=1180? "1180px": "auto");
    min-width:1000px;
}
/*头部*/
.content{ width:100%; background-color:#f3f3f3;}
.content .con{ width:1178px; margin:0 auto; border:#c5c5c5 1px solid; background-color:#ffffff; padding-top:60px; padding-bottom:60px; margin-top:}
.content .con .conleft{width:710px; border-right:#e6e6e6 1px solid; float:left}
.content .con .conleft li{float:left; margin-bottom:20px;width:710px; text-align:right;}
.content .con .conleft li div{ width:150px;float:left;color:#666666;font-family:"微软雅黑";font-size:14px;height:42px; line-height:42px;}
.content .con .conleft li div .sp1{color:#666666;font-family:"微软雅黑"; font-size:14px; margin-right:5px; float:right}
.content .con .conleft li .iput_phone{ width:278px; padding-left:10px; height:38px; border:#cccccc 1px solid; float:left; margin-left:15px; background:url(../images/sj_input.png) no-repeat; color:#999999; line-height:38px;  -webkit-box-shadow: 3px 3px 3px;
  -moz-box-shadow: 3px 3px 3px;
  box-shadow: 3px 3px 3px;}
.content .con .conleft li .iput_code{ width:138px;margin-left:15px; height:38px;border:#cccccc 1px solid; float:left; background-color:#ffffff;}
.content .con .conleft li .code{width:138px;margin-left:10px; height:38px;border:#cccccc 1px solid; text-align:center; background-color:#f5f5f5; float:left;color:#666666;font-family:"微软雅黑"; font-size:14px; line-height:38px;}
.content .con .conleft li .iput_pwd{width:278px; padding-left:10px; height:38px; border:#cccccc 1px solid; float:left; margin-left:15px; background:url(../images/pwd_input.png) no-repeat;color:#999999; line-height:38px;  -webkit-box-shadow: 3px 3px 3px;
  -moz-box-shadow: 3px 3px 3px;
  box-shadow: 3px 3px 3px;}
.content .con .conleft li .iput_name{width:278px; padding-left:10px; height:38px; border:#cccccc 1px solid; float:left; margin-left:15px;color:#999999; line-height:38px;  -webkit-box-shadow: 3px 3px 3px;
  -moz-box-shadow: 3px 3px 3px;
  box-shadow: 3px 3px 3px;}
.content .con .conleft li .xz{ width:18px;height:18px;margin-left:165px; float:left; margin-top:11px;}
.content .con .conleft li .xy{ width:272px;float:left; color:#333333;font-family:"微软雅黑"; font-size:14px; text-align:left; line-height:40px;}
.content .con .conleft li .xy span{color:#ff3333;font-family:"微软雅黑"; font-size:13px;}
.content .con .conleft li .bt{ width:288px; margin-left:165px;line-height:30px; height:38px; text-align:center; background-color:#f13232;color:#fff;font-family:"微软雅黑"; font-size:18px;letter-spacing:2px; float:left}
/*验证成功*/
.content .con .conleft li label{color:#f13232;font-family: "微软雅黑";font-size: 14px;line-height: 40px; height: 40px;float: left}
.content .con .conleft li label i.error{color:#f13232;font-family: "微软雅黑";background:url(../images/sb.png) no-repeat;font-size: 14px;line-height: 40px; padding-left:35px;height: 40px;float: left}
.content .con .conleft li label i.success{background:url(../images/cg.png) no-repeat;color: #333333;font-family: "微软雅黑";font-size: 14px;line-height: 40px; padding-left:35px;height: 40px;float: left;}
/*验证失败*/


.content .con .coright{ width:310px; float:right; margin-right:70px;}
.content .con .coright .r-up{ width:310px; margin-top:60px; float:left}
.content .con .coright .r-up .h1{ width:310px; float:left; height:40px; line-height:40px; font-family:"微软雅黑"; font-size:14px; color:#333333; font-weight:bold}
.content .con .coright .r-up .h2{width:310px; line-height:25px; color:#666666;font-family:"微软雅黑"; font-size:14px; }
.content .con .coright .r-up .h3{ margin-top:20px; width:410px; height:30px;}
.content .con .coright .r-up .h3 a{ width:68px; height:28px; border:#80a8c4 1px solid; background-color:#f5f5f5; text-align:center; display:block; line-height:28px;color:#333333;font-family:"微软雅黑"; font-size:14px;}
.content .con .coright .r-up .h4{ margin-top:20px; width:410px; height:25px;}
.content .con .coright .r-up .h4 a{ width:75px; display:block; border-radius:4px;height:25px; background: url(../images/QQ_kf.jpg) no-repeat; border:#80a8c4 1px solid;}


.content .login{ width:100%; background:url(../images/login_bg.png); margin:0; padding:0; background-position:center}
.content .login .in{ width:1180px; margin:0 auto; height:475px;}
.content .login .in .box{ width:385px; height:380px; float:right; margin-right:100px; margin-top:35px; background-color:#fff}
.content .login .in .box ul{ width:325px; height:320px; padding:30px;}
.content .login .in .box ul li{ width:325px;height:40px;float:left; margin-bottom:20px;}
.content .login .in .box ul li .mz{ height:40px; float:left; line-height:40px; font-family:"微软雅黑"; font-size:18px; color:#666666}
.content .login .in .box ul li .md{ width:90px;height:40px; line-height:40px; float:right}

.content .login .in .box ul li .md img{ width:25px; height:40px; float:left}
.content .login .in .box ul li .divus{width:270px;height:36px; padding:2px 0 2px 55px; float:left; background:url(../images/usname.png) no-repeat;}
.content .login .in .box ul li .divus .usname{ width:268px;height:36px; line-height:36px;font-family:"微软雅黑"; font-size:14px;color:#999999; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
    outline: none;
    box-shadow: none;}
.content .login .in .box ul li .divpwd{width:270px;height:36px; padding:2px 0 2px 55px; float:left; background: url(../images/uspwd.png) no-repeat;}
.content .login .in .box ul li .divpwd .uspwd{ width:268px;height:36px; line-height:36px;font-family:"微软雅黑"; font-size:14px;color:#999999; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
    outline: none;
    box-shadow: none;}
.content .login .in .box ul li .md a{height:40px; line-height:40px; color:#e8382f;font-family:"微软雅黑"; font-size:16px; float:right}
.content .login .in .box ul li .md a:hover{ height:40px; line-height:40px; color:#e8382f;font-family:"微软雅黑"; text-decoration:underline; cursor:pointer;font-size:16px; float:right}
.content .login .in .box ul li .che{ line-height:40px; height:40px; color:#666666;font-family:"微软雅黑"; font-size:12px; float:left}
.content .login .in .box ul li .che .zd{ width:18px; height:18px; margin-top:12px; float:left}



/*修改密码*/



.content .login .in .box ul li .btlogin{ width:325px; height:40px; float:left; background-color:#e8382f; letter-spacing:20px; color:#ffffff;font-family:"微软雅黑"; font-size:18px;}
.content .foot{ width:100%; height:210px; background-color:#333333;}
.content .foot .f{width:1180px; margin: 0 auto; padding-top:40px;}
.content .foot .f .fleft{ width:305px; height:125px;float:left; border-right:#444444 1px solid; margin-left:120px;}
.content .foot .f .fleft .fup{ width:305px; height:45px; float:left}
.content .foot .f .fleft .fup .s1{ width:35px; height:45px; float:left}
.content .foot .f .fleft .fup .s2{ width:270px; height:45px; float:left;color:#fff;font-family:"微软雅黑"; font-size:18px; line-height:45px;}
.content .foot .f .fleft .fup .s2 span{color:#a2a2a2;font-family:"微软雅黑"; font-size:12px;}
.content .foot .f .fleft .fdonw{ width:305px; height:40px; float:left;color:#fff;font-family:"微软雅黑"; font-size:24px; line-height:40px;} 
.content .foot .f .fright{margin-left:110px; height:125px;width:540px; float:left} 
.content .foot .f .fright .r1{width:540px; height:40px;}
.content .foot .f .fright .r1 li{ width:90px; height:40px; float:left}
.content .foot .f .fright .r1 li a{ width:80px; height:40px; float:left;text-align:center;display:block; color:#aaaaaa;font-family:"微软雅黑"; font-size:15px; line-height:40px;}
.content .foot .f .fright .r1 li div{ width:10px; height:40px;float:left; text-align:center;font-family:"微软雅黑"; font-size:15px;color:#aaaaaa;line-height:40px;}
.content .foot .f .fright .r2{ width:540px; height:30px; float:left; line-height:30px;font-family:"微软雅黑"; font-size:13px;color:#aaaaaa;}
.content .foot .f .fright .r2 .p{ margin-left:10px;font-family:"微软雅黑"; font-size:13px;color:#aaaaaa; height:30px; float:left}
.content .foot .f .fright .r3{ width:540px; margin-top:20px; height:40px; float:left}
.content .foot .f .fright .r3 .img1{ float:left; margin-left:10px; margin-right:20px;}


