<style>
    .top .navdown .nminll .m img {
        width: 189px;
        height: 3px;
        display: block;
    }
</style>
<div class="top">
    <div class="nav">
        <ul>
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="#">
                    <div style=" float:left">搜索现货</div>
                    <div class="span" style="float:left"><img src="__IMG__/sanjiao.png" /></div>
                </a>
                <div class="pay">
                    <div class="dis"></div>
                    <ul>
                    <li class="list_1">      
                    <span>钢管现货</span>
                    <div><a href="{:U('Home/Guandao/sactuals')}?pinzhong=工业无缝管">工业无缝管</a></div>
                    <div><a href="{:U('Home/Guandao/sactuals')}?pinzhong=卫生级无缝管">卫生级无缝管</a></div>
                    <div><a href="{:U('Home/Guandao/sactuals')}?pinzhong=工业焊管">工业焊管</a></a></div>
                    <div><a href="{:U('Home/Guandao/sactuals')}?pinzhong=卫生级焊管">卫生级焊管</a></div>
                    <div><a href="{:U('Home/Guandao/sactuals')}?pinzhong=精密管">精密管</a></div>
                    <div><a href="{:U('Home/Guandao/sactuals')}?pinzhong=装饰管">装饰管</a></div>
                    <div><a href="{:U('Home/Guandao/sactuals')}?pinzhong=毛细管">毛细管</a></div>
                    <div><a href="{:U('Home/Guandao/sactuals')}?pinzhong=六角管">六角管</a></div>
                    </li>
                    <li class="list_1">      
                    <span>板卷现货</span>
                    <div><a href="{:U('Home/Guandao/profile')}?pinzhong=圆钢">圆钢</a></div>
                    <div><a href="{:U('Home/Guandao/profile')}?pinzhong=管坯">管坯</a></div>
                    <div><a href="{:U('Home/Guandao/profile')}?pinzhong=角钢">角钢</a></div>
                    <div><a href="{:U('Home/Guandao/profile')}?pinzhong=扁钢">扁钢</a></div>
                    <div><a href="{:U('Home/Guandao/profile')}?pinzhong=方钢">方钢</a></div>
                    <div><a href="{:U('Home/Guandao/profile')}?pinzhong=槽钢">槽钢</a></div>
                    <div><a href="{:U('Home/Guandao/profile')}?pinzhong=线材">线材</a></div>
                    </li> 
                    <li class="list_1">      
                    <span>管件现货</span>
                    <div><a href="{:U('Home/Guandao/molding_three')}">弯头</a></div>
                    <div><a href="{:U('Home/Guandao/molding_two')}?pinzhong=三通">三通</a></div>
                    <div><a href="{:U('Home/Guandao/molding_two')}?pinzhong=四通">四通</a></div>
                    <div><a href="{:U('Home/Guandao/molding_one')}?pinzhong=翻边">翻边</a></div>
                    <div><a href="{:U('Home/Guandao/molding_one')}?pinzhong=管帽">管帽</a></div>
                    <div><a href="{:U('Home/Guandao/molding_one')}?pinzhong=金属软管">金属软管</a></div>
                    </li>
                    <li class="list_1">      
                    <span>法兰现货</span>
                    <div><a href="{:U('Home/Guandao/frenchay')}?pinzhong=平焊法兰">平焊法兰</a></div>
                    <div><a href="{:U('Home/Guandao/frenchay')}?pinzhong=对焊法兰">对焊法兰</a></div>
                    <div><a href="{:U('Home/Guandao/frenchay')}?pinzhong=板式法兰">板式法兰</a></div>
                    <div><a href="{:U('Home/Guandao/frenchay')}?pinzhong=松套法兰">松套法兰</a></div>
                    <div><a href="{:U('Home/Guandao/frenchay')}?pinzhong=带颈法兰">带颈法兰</a></div>
                    <div><a href="{:U('Home/Guandao/frenchay')}?pinzhong=人孔法兰">人孔法兰</a></div>
                    <div><a href="{:U('Home/Guandao/frenchay')}?pinzhong=法兰盖">法兰盖</a></div>
                    </li>
                    <li class="list_1">      
                    <span>阀门现货</span>
                    <div><a href="{:U('Home/Guandao/valve')}?pinzhong=球阀">球阀</a></div>
                    <div><a href="{:U('Home/Guandao/valve')}?pinzhong=蝶阀">蝶阀</a></div>
                    <div><a href="{:U('Home/Guandao/valve')}?pinzhong=闸阀">闸阀</a></div>
                    <div><a href="{:U('Home/Guandao/valve')}?pinzhong=截止阀">截止阀</a></div>
                    <div><a href="{:U('Home/Guandao/valve')}?pinzhong=止回阀">止回阀</a></div>
                    <div><a href="{:U('Home/Guandao/valve')}?pinzhong=旋塞阀">旋塞阀</a></div>
                    <div><a href="{:U('Home/Guandao/valve')}?pinzhong=疏水阀">疏水阀</a></div>
                    <div><a href="{:U('Home/Guandao/valve')}?pinzhong=减压阀">减压阀</a></div>
                    </li>
                    <li class="list_1">      
                    <span>板卷现货</span>
                    <div><a href="{:U('Home/Guandao/plank')}">板材</a></div>
                    <div><a href="{:U('Home/Guandao/plank')}">卷材</a></div>
                    </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="{:U('Home/News/index')}">
                    <div style=" float:left">资讯行情</div>
                    <div class="span" style="float:left"><img src="__IMG__/sanjiao.png" /></div>
                </a>
                <div class="pay1">
                    <div class="dis"></div>
                    <ul>
                    <li class="list_1">      
                    <span>钢管现货</span>

                    <div><a href="{:U('Home/News/lists',array('category'=>39))}">市场快讯</a></div>
                    <div><a href="{:U('Home/News/lists',array('category'=>2))}">会议会展</a></div>
                    <div><a href="{:U('Home/News/lists',array('category'=>40))}">企业风采</a></div>
                    </li>
                    <li class="list_1">      
                    <span>行情频道</span>
                    <div><a href="{:U('Home/News/lists',array('category'=>41))}">原料行情</a></div>
                    <div><a href="{:U('Home/News/lists',array('category'=>42))}">管型行情</a></div>
                    <div><a href="{:U('Home/News/lists',array('category'=>43))}">泵阀行情</a></div>
                    </li> 
                    </ul>
                </div>  
            </li>
            <li>
                <a href="#">加工定做</a>
            </li>
            <li>
                <a href="#">求购信息</a>
            </li>
            <li>
                <a href="#">人才招聘</a>
            </li>
            <li>
                <a href="#">货运物流</a>
            </li>
            <li>
                <a href="#">商务合作</a>
            </li>
            <if condition="is_login()">
                <li class="user">
                    <div class="us">
                        <div class="ico"><img src="__IMG__/user.png" /></div>
                        <div class="phone"><a href="{:U('Member/Index/manage')}">{:get_username()}</a></div>
                        <div style=" color:#5a5a5a">|</div>
                        <div class="exit">安全退出</div>
                    </div>
                </li>
            <else/>
                <li class="reg">
                    <div class="login"><a href="{:U('Member/User/login')}">登录</a></div>
                    <div>|</div>
                    <div class="register"><a href="{:U('Member/User/login')}">免费注册</a></div>
                </li>
            </if>
        </ul>
    </div>

    <block name='navdown'>
        <div class="navdown">
            <div class="nleft"><img src="__IMG__/gs_login.png" /></div>
            <div class="nminll">
                <div class="u"><span class="AS_sp1">客服热线</span><span class="AS_sp2">0577-89881176</span></div>
                <div class="m"><img src="__IMG__/xian_kefulianxi.png" /></div>
                <div class="d"><span class="AS_sp3">每周一至周六</span><span class="AS_sp4">8:30-17:30</span></div>
            </div>
        </div>
    </block>
</div>