
<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li >
      <a href="/" class="">
          <img src="__IMG__/home.png" alt="首页"/>
          <span class="am-navbar-label">首页</span>
      </a>
    </li>
    <li >
      <a href="{:U('Search/index')}" class="">
          <img src="__IMG__/search.png" alt="找现货"/>
          <span class="am-navbar-label">找现货</span>
      </a>
    </li>
    <li >
      <a href="calculator.html" class="">
          <img src="__IMG__/jisuanqi.png" alt="计算器"/>
          <span class="am-navbar-label">计算器</span>
      </a>
    </li>
    <li >
      <a href="{:U('User/login')}" class="">
          <img src="__IMG__/my.png" alt="我的"/>
          <span class="am-navbar-label">我的</span>
      </a>
    </li>
  </ul>
</div>

<!-- 回到顶部 -->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
  <a href="#top" title="回到顶部">
      <span class="am-gotop-title">回到顶部</span>
        <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
<block name="script"></block>
