<meta charset="UTF-8">
<include file="Public/seo"/>
<link rel="Shortcut Icon" href="__IMG__/guo.png" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>购钢现货网－主页</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="__IMG__/favicon.png">
  <link rel="stylesheet" href="__CSS__/amazeui.css">
  <link rel="stylesheet" href="__CSS__/app.css">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<block name="style"></block>


{:hook('pageHeader')}
