<div class="down_box">
	<a <eq name="ACTION_NAME" value="sactuals">style="color:#F00"</eq> class="box_n" href="{:U('Home/Guandao/sactuals')}">钢管</a>
</div>
<div class="down_box">
	<a <eq name="ACTION_NAME" value="profile">style="color:#F00"</eq> class="box_n" href="{:U('Home/Guandao/profile')}">型材</a>
</div>
<div class="down_box">
	<a <eq name="ACTION_NAME" value="molding_three">style="color:#F00"</eq><eq name="ACTION_NAME" value="molding_two">style="color:#F00"</eq><eq name="ACTION_NAME" value="molding_one">style="color:#F00"</eq> class="box_n" href="{:U('Home/Guandao/molding_three')}">管件</a>
</div>
<div class="down_box">
	<a class="box_n" href="frenchay.html">法兰</a>
</div>
<div class="down_box">
	<a class="box_n" href="valve.html">阀门</a>
</div>
<div class="down_box">
	<a class="box_n" href="plank.html">板材</a>
</div>
<div class="down_box">
	<a class="box_n" href="sheet.html">卷材</a>
</div>
<div class="down_box">
	<a class="box_n" style="border-right:0; color:#F00" href="company.html">搜公司</a>
</div>
<div class="clear"></div>