<extend name="Base/common"/>
<block name="header-title">
  <div class="am-header-left am-header-nav">
      <a href="javascript:history.back(-1)" class="">
          <img class="am-header-icon-custom" src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 12 20&quot;&gt;&lt;path d&#x3D;&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill&#x3D;&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/>       
      </a>
  </div>
  <h1 class="am-header-title">
    <a href="#title-link">找现货</a>
  </h1>
</block>
<block name="body">
  <div class="am-btn-group am-btn-group-justify">
  <a class="am-btn am-btn-default" role="button">{$pinzhong}</a>
  <a class="am-btn am-btn-default" role="button">{$caizhi|default="无"}</a>
  <a class="am-btn am-btn-default" role="button">{$guige|default='无'}</a>
</div>
<table class="am-table am-table-bordered am-table-striped am-table-hover am-text-nowrap am-table-centered">
    <thead>
        <tr>
            <th>公司简称</th>
            <th>支数</th>
            <th>重量</th>
            <th>电话咨询</th>
        </tr>
    </thead>
    <tbody id="lists">
        <volist name="lists" id="vo">
            <tr>
                <td><a href="{$vo.url}">{$vo['company']['small_name']}</a></td>
                <td><eq name="vo.zhishu" value="0.00"><else/>{$vo.zhishu}</eq></td>
                <td>{$vo.zhongliang|default="0"}</td>
                <td><a href="tel:{$vo.contact.mobile}">点击拨打</a></td>
            </tr>   
        </volist>
    </tbody>
</table>
<div id="loading" style="text-align: center; display: none;"><img src="__IMG__/Loading.gif" height="40px;"></div>
</block>
<block name="script">
  <script src="__JS__/jquery.min.js"></script>
  <script src="__JS__/amazeui.min.js"></script>
  <script>
      $(function(){
        var page = 2;
        $(window).scroll(function(){
            if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
                $("#loading").show();
                $.post("__SELF__",{page:page},success,'json');
                return false;
                function success(data){
                    if(data.status){
                        var html ="";
                        $.each(data.content,function(i,item){
                            html += '<tr>'+
                                        '<td><a href="' +item.url+ '">' +item.company.small_name+ '</a></td>' +
                                        '<td>' +item.zhishu+ '</td>' +
                                        '<td>' +item.zhongliang+ '</td>' +
                                        '<td><a href="tel:' +item.contact.mobile+'">点击拨打</a></td>' +
                                    '</tr>';
                        });
                        $("#lists").append(html);
                        page++;
                        $("#loading").hide();
                    }else{
                        alert('数据为空');
                    }
                }
            }
        })
      })
  </script>
</block>