<extend name="Base/common" />
<block name="style">
	<style>
     .about .down {
        width: 100%;
        margin-left: 225px;
        font-size: 14px;
        height: 25px;
        line-height: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        float: left;
        text-align: center;
    }   
    </style>
	
</block>

<block name="body">
    <div class="about_bg">
    <div class="about">
        <div class="h1">
            <div class="i1">公司简介</div>
            <div class="i2">COMPANY PROFILE</div>
        </div>
        <div class="h2">
          {$company.desc}
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
</block>
<block name="script">
</block>