<extend name="Base/common" />

<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/overall.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/spancolle.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css"/>
	<script type="text/javascript" src="__JS__/layer.js"></script>
	<style>
        #headm li ul .i_h3 .h3_miss img {
            width: 8px;
            height: 8px;
            margin-top: 1px;
            padding-top: 4px;
            display: block;
        }
    </style>
</block>
<block name="body">

</block>