<extend name="Base/common" />
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/overall.css" />
	<link rel="stylesheet" href="__HO__/kindeditor/themes/default/default.css" />
	<link rel="stylesheet" href="__HO__/kindeditor/plugins/code/prettify.css" />
	<script charset="utf-8" src="__HO__/kindeditor/kindeditor.js"></script>
	
	<script charset="utf-8" src="__HO__/kindeditor/lang/zh_CN.js"></script>
	<script charset="utf-8" src="__HO__/kindeditor/plugins/code/prettify.js"></script>

	<script charset="utf-8" src="__JS__/jquery.cityselect.js"></script>
	<script>
		//城市验证
		$(function() {
			var cityjson = jQuery.parseJSON('{$city}');
			var areajson = jQuery.parseJSON('{$area}');
			var prov = jQuery.parseJSON('{$prov}');

			$("#address").citySelect({
				city_json: cityjson,
				area_json: areajson,
				prov_json: prov,
			});
			$("#caddress").citySelect({
				city_json: cityjson,
				area_json: areajson,
				prov_json: prov,
			});
		})

		KindEditor.ready(function(K) {
			var editor1 = K.create('textarea[name="desc"]', {
				cssPath: '__HO__/kindeditor/plugins/code/prettify.css',
				uploadJson: '__HO__/kindeditor/php/upload_json.php',
				fileManagerJson: '__HO__/kindeditor/php/file_manager_json.php',
				allowFileManager: true,
				afterCreate: function() {
					var self = this;
					K.ctrl(document, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
					K.ctrl(self.edit.doc, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
				},
				afterBlur: function(){this.sync();}
			});
			prettyPrint();
		});
	</script>

</block>
<block name='navdown'>
	<div class="nleft"><img src="__IMG__/gs_login.png" /></div>
    <div class="nright"  style="margin-left:38px">会员中心</div>
</block>
<block name="body">
	<div class="content">

		<div class="content_1">
			<div class="content_1c">
				<include file="Public/nav" />
				<div class="right">
					<div class="right1">基本资料</div>
					<form action="__SELF__" method="post" name="example">
						<ul class="box_r">
							<li class="ii">
								<div>
									<a href="{:U('Index/basics')}">公司信息</a>
									<a href="{:U('Index/contact')}">联系方式</a>
									<a href="{:U('Index/homeImage')}">主页图片</a>
									<div class="clear"></div>
								</div>
							</li>
							<li class="ii">
								<label>用户名</label><input name="" type="text" class="input" value="{$info.nickname}" readonly="readonly" /><span class="panduan" ></span>
							</li>
							<li class="ii">
								<label>公司全称</label><input name="name" type="text" value="{$cinfo.name}" class="input" /><span class="panduan" ></span>
							</li>
							<li class="ii">
								<label>公司简称</label><input name="small_name" type="text" class="input" value="{$cinfo.small_name}" /><span class="panduan" ></span>
							</li>
							
							<li class="ii">
								<label>仓库区</label>
								<div id="caddress">
									<select name="ware_prov" class="select prov" value="{$cinfo.ware_prov}">
										
									</select>
									<select name="ware_city" class="select city" value="{$cinfo.ware_city}">
										
									</select>
									<span class="panduan"></span>
								</div>
							</li>
							<li class="ii">
								<label>仓库地址</label><input name="ware_address" type="text" class="input" value="{$cinfo.ware_address}" /><span class="panduan" ></span>
							</li>
							<li class="ii">
								<label>经营模式</label>
								<div class="box_list">
									<volist name=":C('PATTERN')" key='k' id="vo">
										<input name="pattern" id="p{$k}" type="radio" value="{$k}" class="radio">
										<label class="p" style="text-align: left; width: auto;" for="p{$k}">{$vo}</label>
									</volist>
									<script>
										$("input[name='pattern'][value='{$cinfo.pattern}']").attr('checked',true);
									</script>
								</div>
							</li>
							<li class="ii">
			                	<label>主营业务</label>
			                    <div class="box_list">
			                    	<volist name=":C('BUSINESS')" key='k' id="vo">
					                    <input name="business[]" type="checkbox" class="checkbox" id="b{$k}" value="{$k}">
					                    <label class="p" style="text-align: left; width: auto;" for="b{$k}">{$vo}</label>
			                    	</volist>
			                    	
			                		<script>
			                		    <volist name=":explode(',', $cinfo['business'])" id="vo">
											$("input[name='business[]'][value='{$vo}']").attr('checked',true);
									    </volist>
			                		</script>
									
			                    </div>
			                </li>
							<li class="ii">
								<label>公司所在地</label>
								<div id="address">
									<select name="com_prov" value="{$cinfo.com_prov}" class="select prov">
										
									</select>
									<select name="com_city" value="{$cinfo.com_city}" class="select city">
										<option value="">请选择</option>
									</select>
									<span class="panduan"></span>
								</div>
							</li>
							<li class="ii">
								<label>详细地址</label><input name="com_address" type="text" value="{$cinfo.com_address}" class="input" />
								<span class="panduan"></span>
							</li>
							<li class="ii">
								<label>公司网站</label><input name="website" type="text" value="{$cinfo.website}" class="input" />
							</li>
							
							<li class="ii">
								<label>公司简介</label><textarea name="desc" id="newscontent" class="txt_con" style="width:650px; min-height:220px;">{$cinfo.desc}</textarea>
							</li>
							<li class="tishi">
								<p>最多1000字，您还可以输入<span>781</span>字</p>
							</li>
							<li class="ii">
								<label></label><input name="" type="submit" value="提交信息" class="bt" />
							</li>
	
						</ul>
					</form>
				</div>
				<div class="clear">
				</div>
			</div>
		</div>

</block>
<block name="script">
	<script src="__JS__/jquery.validate.js"></script>
	<script type="text/javascript">
		$(function() {
			// 在键盘按下并释放及提交后验证提交表单
			$("form").validate({
				valid: true,

				rules: {
					name: {
						required: true,
					},
					small_name: {
						required: true,
					},

					ware_city: {
						required: true,
					},
					com_city: {
						required: true,
					},
					ware_address: {
						required: true,
					},
					com_address: {
						required: true,
					},
				},
				messages: {
					name: {
						required: "请填写公司全称！",
					},
					small_name: {
						required: "请填写公司简称!",
					},

					ware_city: {
						required: "请选择仓库区!",
					},
					com_city: {
						required: "请填写公司所在地!",
					},
					ware_address: {
						required: "请填写仓库地址!",
					},
					com_address: {
						required: "请填写详细地址!",
					},
		
				},
				errorElement:'span',
				errorPlacement: function(error, element) {					
					error.appendTo(element.next());
				},
				success: function(label) {
					// set &nbsp; as text for IE
					
				},
				submitHandler: function(form) {
					var self = $('form');
					$.post(self.attr("action"), self.serialize(), success, "json");
					return false;

					function success(data) {
						if (data.status) {
							alert('提交成功')
						} else {
							alert('提交失败')
						}
					}
				},
			});
			// 手机号码验证 
			jQuery.validator.addMethod("isMobile", function(value, element) {
				var length = value.length;
				var mobile = /^1[3|4|5|7|8]\d{9}$/;
				return this.optional(element) || (length == 11 && mobile.test(value));
			}, "请正确填写您的手机号码");
			// 手机号码验证 
			jQuery.validator.addMethod("isEmail", function(value, element) {
				var length = value.length;
				var mobile = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/;
				return this.optional(element) || (length == 11 && mobile.test(value));
			}, "请正确填写您的手机号码");

		})

	</script>
</block>