<extend name="Base/common" />
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/overall.css"/>
	<link rel="stylesheet" href="__HO__/kindeditor/themes/default/default.css" />
		<link rel="stylesheet" href="__HO__/kindeditor/plugins/code/prettify.css" />
		<script charset="utf-8" src="__HO__/kindeditor/kindeditor.js"></script>
		<script charset="utf-8" src="__HO__/kindeditor/lang/zh_CN.js"></script>
		<script charset="utf-8" src="__HO__/kindeditor/plugins/code/prettify.js"></script>
		<script language="javascript" src="__JS__/jquery.form.js"></script>
		<script>  
			KindEditor.ready(function(K) {
				var editor1 = K.create('textarea[name="newscontent"]', {
					cssPath : '__HO__kindeditor/plugins/code/prettify.css',
					uploadJson : '__HO__kindeditor/php/upload_json.php',
					fileManagerJson : '__HO__kindeditor/php/file_manager_json.php',
					allowFileManager : true,
					afterCreate : function() {
						var self = this;
						K.ctrl(document, 13, function() {
							self.sync();
							K('form[name=example]')[0].submit();
						});
						K.ctrl(self.edit.doc, 13, function() {
							self.sync();
							K('form[name=example]')[0].submit();
						});
					}
				});
				prettyPrint();
			});
		</script>
		<script>
		function upImg(type){
			var bar = $('#bar_'+type);
			$("#thismyform_"+type).ajaxSubmit({
			dataType:  'json',
			beforeSend: function() {

	//		        		showimg.empty();
	//						progress.show();
	//		        		var percentVal = '0%';
	//		        		bar.width(percentVal);
	//		        		percent.html(percentVal);
	//						btn.html("上传中...");
			},
			uploadProgress: function(event, position, total, percentComplete) {
				var percentVal = percentComplete + '%';
				console.log(percentVal)
				bar.width(percentVal);
	//		        		var percentVal = percentComplete + '%';
	//		        		bar.width(percentVal);
	//		        		percent.html(percentVal);
			},
			success: function(data) {
				if(data.status){
					$('#tp_'+ type).attr('src',data.path);
				}else{
					alert('提交失败,图片大于两M')
				}
			},
			error:function(xhr){
	//						btn.html("上传失败");
	//						bar.width('0')
	//						files.html(xhr.responseText);
			}
		});

		}
	</script>


</block>
<block name='navdown'>
	<div class="nleft"><img src="__IMG__/gs_login.png" /></div>
    <div class="nright"  style="margin-left:38px">会员中心</div>
</block>
<block name="body">
	<div class="content">
  <div class="content_1">
  	<div class="content_1c">
        <include file="Public/nav" />
        <div class="right">
            <div class="right1">基本资料</div>

<ul class="box_r">
            	<li class="ii">
                	<div>
                    	<a href="{:U('Index/basics')}">公司信息</a>
               			<a href="{:U('Index/contact')}">联系方式</a>
                		<a href="{:U('Index/homeImage')}">主页图片</a>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="iii">
                	<span><h4>公司logo</h4></span> 
                </li>
              	<li class="iii">
                	<img id="tp_0" src="{$himg0.path|default='__IMG__/tp1.png'}" />
                </li>
                <li class="iii">
                	<span style="margin-top:15px;">上传新主图</span> 
                </li>
                <li class="iii">
                <style type="text/css">
                	.content .content_1 .content_1c .right .box_r .iii span.parson{
                		width: 359px;
                		height: 5px;
                		background: #ccc;
                		position: absolute;
                		margin-top: -5px;
                	}
                	.bar{
                		width: 0px;
                		height: 5px;
                		background: #e35c56;
                	}
                </style>
                <span class="parson"><div id="bar_0" class="bar"></div></span>
<form method="post" action="{:U('Member/Index/doHomeImg')}" id="thismyform_0" enctype="multipart/form-data" style="margin-left:15px;">
<div class="ehdel_upload_show">
<input id="ehdel_upload_text" type="text" name="txt" 
value="选择一个文件上传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;..." />
<input id="ehdel_upload_btn" value="上传" />
</div>
<div class="clear"></div>
<input type="file" id="cbtn" name="file" onchange="ehdel_upload_text.value=this.value;upImg(0);" class="ehdel_upload" style="background:none" />
<input type="hidden" name="type" value="0">
</form>
	
                </li>
                <li class="iii"><span class="upd">支持jpg/gif/png格式图片，文件需小于1M,建议尺寸370*230</span></li>
            </ul>


           <ul class="box_r">
            	
                <li class="iii">
                	<span><h4>企业愿景</h4></span> 
                </li>
              	<li class="iii">
                	<img id="tp_1" src="{$himg1.path|default='__IMG__/tp1.png'}" />
                </li>
                <li class="iii">
                	<span style="margin-top:15px;">上传新主图</span> 
                </li>
                <li class="iii">
                <style type="text/css">
                	.content .content_1 .content_1c .right .box_r .iii span.parson{
                		width: 359px;
                		height: 5px;
                		background: #ccc;
                		position: absolute;
                		margin-top: -5px;
                	}
                	.bar{
                		width: 0px;
                		height: 5px;
                		background: #e35c56;
                	}
                </style>
                <span class="parson"><div id="bar_1" class="bar"></div></span>
<form method="post" action="{:U('Member/Index/doHomeImg')}" id="thismyform_1" enctype="multipart/form-data" style="margin-left:15px;">
<div class="ehdel_upload_show">
<input id="ehdel_upload_text" type="text" name="txt" 
value="选择一个文件上传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;..." />
<input id="ehdel_upload_btn" value="上传" />
</div>
<div class="clear"></div>
<input type="file" id="cbtn" name="file" onchange="ehdel_upload_text.value=this.value;upImg(1);" class="ehdel_upload" style="background:none" />
<input type="hidden" name="type" value="1">
</form>
	
                </li>
                <li class="iii"><span class="upd">支持jpg/gif/png格式图片，文件需小于1M,建议尺寸370*230</span></li>
            </ul>

            <ul class="box_r">
            	
                <li class="iii">
                	<span><h4>生产设备</h4></span> 
                </li>
              	<li class="iii">
                	<img id="tp_2" src="{$himg2.path|default='__IMG__/tp1.png'}" />
                </li>
                <li class="iii">
                	<span style="margin-top:15px;">上传新主图</span> 
                </li>
                <li class="iii">
                <span class="parson"><div id="bar_2" class="bar"></div></span>
<form method="post" action="{:U('Member/Index/doHomeImg')}" id="thismyform_2" enctype="multipart/form-data" style="margin-left:15px;">
<div class="ehdel_upload_show">
<input id="ehdel_upload_text" type="text" name="txt" 
value="选择一个文件上传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;..." />
<input id="ehdel_upload_btn" value="上传" />
</div>
<div class="clear"></div>
<input type="file" id="cbtn" name="file" onchange="ehdel_upload_text.value=this.value;upImg(2);" class="ehdel_upload" style="background:none" />
<input type="hidden" name="type" value="2">
</form>
	
                </li>
                <li class="iii"><span class="upd">支持jpg/gif/png格式图片，文件需小于1M,建议尺寸370*230</span></li>
            </ul>

<ul class="box_r">
            	
                <li class="iii">
                	<span><h4>质检及仓储</h4></span> 
                </li>
              	<li class="iii">
                	<img id="tp_3" src="{$himg3.path|default='__IMG__/tp1.png'}" />
                </li>
                <li class="iii">
                	<span style="margin-top:15px;">上传新主图</span> 
                </li>
                <li class="iii">
                <span class="parson"><div id="bar_3" class="bar"></div></span>
<form method="post" action="{:U('Member/Index/doHomeImg')}" id="thismyform_3" enctype="multipart/form-data" style="margin-left:15px;">
<div class="ehdel_upload_show">
<input id="ehdel_upload_text" type="text" name="txt" 
value="选择一个文件上传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;..." />
<input id="ehdel_upload_btn" value="上传" />
</div>
<div class="clear"></div>
<input type="file" id="cbtn" name="file" onchange="ehdel_upload_text.value=this.value;upImg(3);" class="ehdel_upload" style="background:none" />
<input type="hidden" name="type" value="3">
</form>
	
                </li>
                <li class="iii"><span class="upd">支持jpg/gif/png格式图片，文件需小于1M,建议尺寸370*230</span></li>
            </ul>

<ul class="box_r">
            	
                <li class="iii">
                	<span><h4>企业资质</h4></span> 
                </li>
              	<li class="iii">
                	<img id="tp_4" src="{$himg4.path|default='__IMG__/tp1.png'}" />
                </li>
                <li class="iii">
                	<span style="margin-top:15px;">上传新主图</span> 
                </li>
                <li class="iii">
                <span class="parson"><div id="bar_4" class="bar"></div></span>
<form method="post" action="{:U('Member/Index/doHomeImg')}" id="thismyform_4" enctype="multipart/form-data" style="margin-left:15px;">
<div class="ehdel_upload_show">
<input id="ehdel_upload_text" type="text" name="txt" 
value="选择一个文件上传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;..." />
<input id="ehdel_upload_btn" value="上传" />
</div>
<div class="clear"></div>
<input type="file" id="cbtn" name="file" onchange="ehdel_upload_text.value=this.value;upImg(4);" class="ehdel_upload" style="background:none" />
<input type="hidden" name="type" value="4">
</form>
	
                </li>
                <li class="iii"><span class="upd">支持jpg/gif/png格式图片，文件需小于1M,建议尺寸370*230</span></li>
            </ul>

        </div>
         <div class="clear">
    </div>
  </div>
  </div>
</block>
<block name="script">
	<script src="__JS__/jquery.validate.js"></script>
	<script type="text/javascript">
		$(function() {
			// 在键盘按下并释放及提交后验证提交表单
			$("#loginForm").validate({
				valid: true,

				rules: {
					username: {
						required: true,
						isMobile: true,
					},
					password: {
						required: true,
						minlength: 6
					},
				},
				messages: {
					username: {
						required: "请输入手机号码",
						remote: "手机号已经存在",
					},
					password: {
						required: "请输入密码",
						minlength: "密码最少6个字符"
					},

				},
				errorPlacement: function(error, element) {
					$(".messages").html('')
					error.appendTo($(".messages"));
				},
				success: function(label) {
					// set &nbsp; as text for IE
					label.html("<i class='success'></i>");
				},
				submitHandler: function(form) {
					var self = $('#loginForm');
					$.post(self.attr("action"), self.serialize(), success, "json");
					return false;

					function success(data) {
						if (data.status) {
							window.location.href = data.url;
						} else {
							$(".messages").html(data.info)
						}
					}
				},
			});
			// 手机号码验证 
			jQuery.validator.addMethod("isMobile", function(value, element) {
				var length = value.length;
				var mobile = /^1[3|4|5|7|8]\d{9}$/;
				return this.optional(element) || (length == 11 && mobile.test(value));
			}, "请正确填写您的手机号码");

		})
		$(document)
			.ajaxStart(function() {
				$("button:submit").addClass("log-in").attr("disabled", true);
			})
			.ajaxStop(function() {
				$("button:submit").removeClass("log-in").attr("disabled", false);
			});
	</script>
</block>