<extend name="Base/common" />
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/overall.css"/>
	
</block>
<block name='navdown'>
	<div class="nleft"><img src="__IMG__/gs_login.png" /></div>
    <div class="nright"  style="margin-left:38px">会员中心</div>
</block>
<block name="body">
	<div class="content">

		<div class="content_1">
			<div class="content_1c">
				<include file="Public/nav"/>
				<div class="right">
					<div class="right1">会员信息</div>
					<ul class="right2">
						<li><span class="s1">{$contact.name}</span> 您好：</li>
						<li>欢迎访问中国不锈钢现货网，在您浏览本网过程中，有任何问题或者建议，请随时跟我们联系。</li>
						<li><img src="images/未标题-1.png" width="7" height="9" style="margin-right:5px;" />会员级别：您是<eq name="member['is_vip']" value='1'><span class="s1"></span><else/>普通</eq>VIP会员</li>
						<li><img src="images/未标题-1.png" width="7" height="9" style="margin-right:5px;" />登录状态：今天您第<span class="s1">1</span>次登录，总共登录<span class="s1">{$loginTimes}</span>次，上次登录的<span class="s1">IP</span>是 {:long2ip($lastIP)}</li>
					</ul>

					<div class="right3">
						<span>尊敬的会员：</span>
						<p>为了给广大不锈钢行业用户一个良好的平台环境，请不要发布虚假的库存信息。即日起，本网工作人员将不定期的监督抽查所有会员的库存，若经本站工作人员提醒后仍不改正，将封号处理！</p>
					</div>
					<div class="right4">
						<ul class="r1">
							<li>公司名称</li>
							<li style="letter-spacing:8px;">联系人</li>
							<li style="letter-spacing:26px;">电话</li>
							<li style="letter-spacing:26px;">传真</li>
						</ul>
						<ul class="r2">
							<li>{$company.name}</li>
							<li>{$contact.name}</li>
							<li>{$contact.tel}</li>
							<li>{$contact.fax}</li>
						</ul>
						<ul class="r1">
							<li>联系地址</li>
							<li style="letter-spacing:26px;">邮编</li>
							<li style="letter-spacing:26px;">网址</li>
							<li style="letter-spacing:26px;">邮箱</li>
						</ul>
						<ul class="r2">
							<li>{$company.com_address}</li>
							<li>20000</li>
							<li>{$company.website}</li>
							<li>{$contact.email}</li>
						</ul>
					</div>
				</div>
				<div class="clear">

				</div>
			</div>
		</div>

</block>
<block name="script">
	<script src="__JS__/jquery.validate.js"></script>
	
</block>