<extend name="Base/common" />
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/overall.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/layer.css" />
	<script language="javascript" src="__JS__/layer.js"></script>
	<link rel="stylesheet" href="__HO__/kindeditor/plugins/code/prettify.css" />
	<script charset="utf-8" src="__HO__/kindeditor/kindeditor.js"></script>
	<script charset="utf-8" src="__HO__/kindeditor/lang/zh_CN.js"></script>
	<script charset="utf-8" src="__HO__/kindeditor/plugins/code/prettify.js"></script>
	<script>
		KindEditor.ready(function(K) {
			var editor1 = K.create('textarea[name="content"]', {
				cssPath: '__HO__/kindeditor/plugins/code/prettify.css',
				uploadJson: '__HO__/kindeditor/php/upload_json.php',
				fileManagerJson: '__HO__/kindeditor/php/file_manager_json.php',
				allowFileManager: true,
				afterBlur: function () { this.sync(); },
				afterCreate: function() {
					var self = this;
					K.ctrl(document, 13, function() {
						self.sync();
						K('form[name=reruit]')[0].submit();
					});
					K.ctrl(self.edit.doc, 13, function() {
						self.sync();
						K('form[name=reruit]')[0].submit();
					});
				}
			});
			prettyPrint();
		});
	</script>
</block>
<block name='navdown'>
	<div class="nleft"><img src="__IMG__/gs_login.png" /></div>
    <div class="nright"  style="margin-left:38px">会员中心</div>
</block>
<block name="body">
	<div class="content">

		<div class="content_1">
			<div class="content_1c">
				<include file="Public/nav" />
				<div class="right">
					<div class="right1">人才招聘</div>
					<form action="__SELF__" method="post" name="reruit">
						<ul class="box_r">
							<li class="ii">
								<label>职位：</label><input name="title" placeholder="填写职位" value="{$recruit.title}" type="text" class="input" /><span class="panduan"></span>
							</li>
							<li class="ii">
								<label>工作地址：</label><input placeholder="请填写详细地址" name="address" value="{$recruit.address}" type="text" class="input" /><span class="panduan"></span>
							</li>
							<li class="ii">
								<label>招聘人数：</label><input placeholder="请填写数量" name="num" value="{$recruit.num}" type="text" class="input" /><span class="panduan"></span>
							</li>
							<li class="ii">
								<label>工作经验：</label><input placeholder="填写工作年限/几年" name="jyan" value="{$recruit.jyan}" type="text" class="input" /><span class="panduan"></span>
							</li>
							<li class="ii">
								<label>学历要求：</label><input placeholder="例如:大专" name="xli" value="{$recruit.xli}" type="text" class="input" /><span class="panduan"></span>
							</li>
							<li class="ii">
								<label>招聘要求：</label><textarea name="content" id="content" class="txt_con" style="width:650px; min-height:320px;">{$recruit.content}</textarea>
							</li>
							<li class="ii">
								<input type="hidden" name="id" id="id" value="{$recruit.id}" />
								<label></label><input name="" type="submit" value="提交信息" class="bt" /></li>
						</ul>
					</form>
				</div>
				<div class="clear">
				</div>
			</div>
		</div>
</block>
<block name="script">
	<script src="__JS__/jquery.validate.js"></script>
	<script type="text/javascript">
		$(function() {
			// 在键盘按下并释放及提交后验证提交表单
			$("form").validate({
				valid: false,

				rules: {
					title: {
						required: true,
					},
					content: {
						required: true,
					},

				},
				messages: {
					title: {
						required: "请填写标题！",
					},
					content: {
						required: "请填写招聘内容!",
					},
					

				},
				errorElement:'span',
				errorPlacement: function(error, element) {					
					error.appendTo(element.next());
				},
				success: function(label) {
					// set &nbsp; as text for IE

				},
				submitHandler: function(form) {
					ajaxForm();

					return false;
				},
			});
			// 手机号码验证 
			jQuery.validator.addMethod("isMobile", function(value, element) {
				var length = value.length;
				var mobile = /^1[3|4|5|7|8]\d{9}$/;
				return this.optional(element) || (length == 11 && mobile.test(value));
			}, "请正确填写您的手机号码");
			// 手机号码验证 
			jQuery.validator.addMethod("isEmail", function(value, element) {
				var length = value.length;
				var mobile = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/;
				return this.optional(element) || (length == 11 && mobile.test(value));
			}, "请正确填写您的手机号码");

			function ajaxForm() {
				var self = $('form');
				
				$.post(self.attr("action"), self.serialize(), success, "json");
				return false;

				function success(data) {
					if(data.status) {
						alert('提交成功');
						window.location.href = '{:U('Index/recruit')}'
					} else {
						alert('提交失败')
					}
				}
			}

		})
	</script>
</block>