/* Write your styles */
.app-time{
	margin-top: 33px;
}
.app-time-right {
  position: absolute;
  right: 5px;
  font-size: 1.3rem;
  top: 19px;
  right:10px;
  color:#8a8a8a;
}

.minicon{
  float:right;
  margin-right:10px; 
  margin-top:4px; 
  width:16px;
}
.app-text-gray-right{
  position: absolute;
  right:12px;
  top:14px;
  padding-right: 20px;
  font-size: 13px;
  color:#515151;
}