<extend name="Base/common"/>

<block name="style">
    
</block>
<block name="header-title">
  <div class="am-header-left am-header-nav">
          <a href="javascript:history.back(-1)" class="">
              <img class="am-header-icon-custom" src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 12 20&quot;&gt;&lt;path d&#x3D;&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill&#x3D;&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/>       
          </a>
      </div>
  <h1 class="am-header-title">
    <a href="#title-link">关于我们</a>
  </h1>
</block>

<block name="body">
 
<article data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           
           data-am-paragraph="{ tableScrollable: true, pureview: true }">

      <img src="__IMG__/company.jpg">
      <p class=paragraph-default-p><a href="index.html">&nbsp;&nbsp;购钢现货网（http://www.gousteel.com）</a>，创建于2013年，由上海天予软件科技有限公司和温州海棠文化传媒有限公司共同开发运营，是目前国内资源最多、专业性最强的服务于不锈钢行业的电子商务平台之一。</p>

      <p>&nbsp;&nbsp;购钢现货网，总部设在上海，分部设在中国不锈钢无缝管生产基地——温州，以及浙江松阳、安徽绩溪、福建霞浦等外迁基地为依托，建立起庞大的不锈钢现货数据库，旨为不锈钢生产商、销售商及下游用户提供最精准的不锈钢现货搜索服务。购钢网的推出，打破了传统的找现货、卖现货的瓶颈，精准、方便、快捷，找现货更方便，卖现货更顺畅。我们要打造最专业的不锈钢电子商务平台！</p>

      <p>&nbsp;&nbsp;我们公司不仅提供不锈钢行业电子商务平台，还为企业量身定制：建站服务以及企业形象策划、宣传画册设计等综合服务。我们将秉承“开拓、创新、务实”的企业精神，立足行业，面向全国，打造国内最好的不锈钢电子商务平台！</p>

      <p>&nbsp;&nbsp;购钢网，愿做您最忠实的合作伙伴！</p>

      <p>&nbsp;&nbsp;我们的精神：开拓、创新、务实；</p>

      <p>&nbsp;&nbsp;我们的承诺：中立、高效、专业；</p>

      </article>


</block>
<block name="script">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/amazeui.min.js"></script>
</block>