<extend name="Base/common"/>

<block name="style">
    
</block>
<block name="header-title">
  <div class="am-header-left am-header-nav">
          <a href="javascript:history.back(-1)" class="">
              <img class="am-header-icon-custom" src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 12 20&quot;&gt;&lt;path d&#x3D;&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill&#x3D;&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/>       
          </a>
      </div>
  <h1 class="am-header-title">
    <a href="#title-link">意见反馈</a>
  </h1>
</block>

<block name="body">
 
<form class="am-form">
  <fieldset>
    <div class="am-form-group">
      <label for="doc-ta-1">您的意见是我们进步的动力：</label>
      <textarea class="" rows="8" id="doc-ta-1"></textarea>
    </div>

    <p><button type="submit" class="am-btn am-btn-primary am-radius am-btn-lg am-btn-block">提交</button></p>
  </fieldset>
</form>

</block>
<block name="script">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/amazeui.min.js"></script>
</block>