<extend name="Base/common"/>

<block name="style">
    
</block>
<block name="body">
    <!-- Slider -->
    <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'>
      <ul class="am-slides">
        <li>
          <img src="__IMG__/banner1.jpg">
        </li>
        <li>
          <img src="__IMG__/banner1.jpg">
        </li>
      </ul>
    </div>
    
    <!-- button -->
    <div class="am-panel-default">
      <ul class="am-avg-sm-3 am-text-center">
        <li class="am-padding-lg"><a href="search.html"><p><img src="__IMG__/btn_search.png" width="64px"/></span></p><p style="color:#565656;">找现货</p></a></li>
        <li class="am-padding-lg"><a href="logistics.html"><p><img src="__IMG__/btn_wuliu.png" width="64px"/></span></p><p style="color:#565656;">货运物流</p></a></li>
        <li class="am-padding-lg"><a href="wantbuy.html"><p><img src="__IMG__/btn_qiugou.png" width="64px"/></span></p><p style="color:#565656;">紧急求购</p></a></li>
        <li class="am-padding-0"><a href="searchcompany.html"><p><img src="__IMG__/btn_company.png" width="64px"/></span></p><p style="color:#565656;">搜公司</p></a></li>   
        <li class="am-padding-0"><a href="steelrod.html"><p><img src="__IMG__/btn_yuangang.png" width="64px"/></span></p><p style="color:#565656;">管坯圆钢</p></a></li>
        <li class="am-padding-0"><a href="recruit.html"><p><img src="__IMG__/btn_zhaopin.png" width="64px"/></span></p><p style="color:#565656;">企业招聘</p></a></li>
      </ul>
    </div>

    <!-- List -->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
  <!--列表标题-->
<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
    <h2 class="am-titlebar-title ">
        头条新闻
    </h2>
    <nav class="am-titlebar-nav">
        <a href="news.html" class="">更多 &raquo;</a>
    </nav>
</div>
  <div class="am-list-news-bd">
    <ul class="am-list">
      <!--缩略图在标题右边-->

      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
        <div class=" am-u-sm-8 am-list-main">
            <h3 class="am-list-item-hd"><a href="newsmain.html" class="">太钢纳米晶超薄带行试生产</a></h3>
            <span class="am-list-date">2016-09-18</span>
        </div>
          <div class="am-u-sm-4 am-list-thumb">
            <a href="newsmain.html" class="">
              <img src="__IMG__/bxg1.jpg" />
            </a>
          </div>
      </li>

      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
        <div class=" am-u-sm-8 am-list-main">
            <h3 class="am-list-item-hd"><a href="#" class="">鞍钢股份大型厂成功试制50千克/米全长淬火轨
</a></h3>
            <span class="am-list-date">2016-09-18</span>
        </div>
          <div class="am-u-sm-4 am-list-thumb">
            <a href="newsmain.html" class="">
              <img src="__IMG__/bxg2.jpg" />
            </a>
          </div>
      </li>
      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
        <div class=" am-u-sm-8 am-list-main">
            <h3 class="am-list-item-hd"><a href="newsmain.html" class="">欧美紧盯中国钢铁产量 专家:西方将问题“政治化”
</a></h3>
            <span class="am-list-date">2016-09-18</span>
        </div>
          <div class="am-u-sm-4 am-list-thumb">
            <a href="newsmain.html" class="">
              <img src="__IMG__/bxg1.jpg" />
            </a>
          </div>
      </li>
      <li class="am-g am-list-item-desced">
        <div class="am-list-main">
          <h3 class="am-list-item-hd">
            <a href="newsmain.html">牙买加客人前往酒钢参观考察</a>
          </h3>
          <span class="am-list-date">2016-09-18</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- List -->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
  <!--列表标题-->
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
    <h2 class="am-titlebar-title ">
        求购信息
    </h2>
    <nav class="am-titlebar-nav">
        <a href="#more" class="">更多 &raquo;</a>
    </nav>
</div>
  <div class="am-list-news-bd">
    <ul class="am-list">
      <li class="am-g">
        <a href="#" class="am-list-item-hd">急要无缝管304 40*30*4 需要500公斤</a>
        <span class="am-list-date">2016-09-18</span>
      </li>
      <li class="am-g">
        <a href="#" class="am-list-item-hd">求购304 260*43 数量：800M </a>
        <span class="am-list-date">2016-09-18</span>
      </li>
      <li class="am-g">
        <a href="#" class="am-list-item-hd">求购水试压机器一台</a>
        <span class="am-list-date">2016-09-18</span>
      </li>
      <li class="am-g">
        <a href="#" class="am-list-item-hd">采购ASTM A312 347H 无缝钢管和管帽</a>
        <span class="am-list-date">2016-09-18</span>
      </li>

    </ul>
  </div>
</div>

</block>
<block name="script">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/amazeui.min.js"></script>
</block>