<extend name="Base/common"/>

<block name="style">
    
</block>
<block name="body">
    <!-- Slider -->
    <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'>
      <ul class="am-slides">
        <volist name="banners" id="vo">
          <li>
            <a href="{$vo.url}"><img src="/Uploads/Images/{$vo.data}"></a>
          </li>
        </volist>
      </ul>
    </div>
    
    <!-- button -->
    <div class="am-panel-default">
      <ul class="am-avg-sm-3 am-text-center">
        <li class="am-padding-lg"><a href="{:U('Search/index')}"><p><img src="__IMG__/btn_search.png" width="64px"/></span></p><p style="color:#565656;">找现货</p></a></li>
        <li class="am-padding-lg"><a href="logistics.html"><p><img src="__IMG__/btn_wuliu.png" width="64px"/></span></p><p style="color:#565656;">货运物流</p></a></li>
        <li class="am-padding-lg"><a href="wantbuy.html"><p><img src="__IMG__/btn_qiugou.png" width="64px"/></span></p><p style="color:#565656;">紧急求购</p></a></li>
        <li class="am-padding-0"><a href="searchcompany.html"><p><img src="__IMG__/btn_company.png" width="64px"/></span></p><p style="color:#565656;">搜公司</p></a></li>   
        <li class="am-padding-0"><a href="steelrod.html"><p><img src="__IMG__/btn_yuangang.png" width="64px"/></span></p><p style="color:#565656;">管坯圆钢</p></a></li>
        <li class="am-padding-0"><a href="recruit.html"><p><img src="__IMG__/btn_zhaopin.png" width="64px"/></span></p><p style="color:#565656;">企业招聘</p></a></li>
      </ul>
    </div>

    <!-- List -->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
  <!--列表标题-->
<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
    <h2 class="am-titlebar-title ">
        头条新闻
    </h2>
    <nav class="am-titlebar-nav">
        <a href="{:U('News/index')}" class="">更多 &raquo;</a>
    </nav>
</div>
  <div class="am-list-news-bd">
    <ul class="am-list">
      <!--缩略图在标题右边-->
      <volist name='hot' id='vo'>
        <eq name="vo.cover_id">
          <li class="am-g am-list-item-desced">
            <div class="am-list-main">
              <h3 class="am-list-item-hd">
                <a href="{:U('Mobile/News/detail',array('id'=>$vo['id']))}">{$vo.title|msubstr=0,20,'utf-8',false}</a>
              </h3>
              <span class="am-list-date">{$vo.create_time|date='Y-m-d',###}</span>
            </div>
          </li>
        <else/>
          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
            <div class=" am-u-sm-8 am-list-main">
                <h3 class="am-list-item-hd"><a href="{:U('Mobile/News/detail',array('id'=>$vo['id']))}" class="">{$vo.title|msubstr=0,20,'utf-8',false}
    </a></h3>
                <span class="am-list-date">{$vo.create_time|date='Y-m-d',###}</span>
            </div>
              <div class="am-u-sm-4 am-list-thumb">
                <a href="{:U('Mobile/News/detail',array('id'=>$vo['id']))}" class="">
                  <img src="{:get_cover($vo['cover_id'],'path')}" />
                </a>
              </div>
          </li>
        </eq>
      </volist>
    </ul>
  </div>
</div>

<!-- List -->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
  <!--列表标题-->
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
    <h2 class="am-titlebar-title ">
        求购信息
    </h2>
    <nav class="am-titlebar-nav">
        <a href="{:U('Issue/index')}" class="">更多 &raquo;</a>
    </nav>
</div>
  <div class="am-list-news-bd">
    <ul class="am-list">
    <volist name="issue" id="vo">
      <li class="am-g">
        <a href="{:U('Issue/index')}" class="am-list-item-hd">{$vo.title|msubstr=0,50,'utf-8',false}</a>
        <span class="am-list-date">{$vo.create_time|date='Y-m-d',###}</span>
      </li>
    </volist>
    </ul>
  </div>
</div>

</block>
<block name="script">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/amazeui.min.js"></script>
</block>