<extend name="Base/common"/>

<block name="style">
    
</block>
<block name="body">
   <div class="header">
<div class="am-alert am-alert-danger" id="dangeralert" data-am-alert style="display:none;">
  <p id="dangeralert_text">任意项目不能为空</p>
</div>
</div>

</br>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <form id="loginForm" method="post" class="am-form am-radius" action="__SELF__">
      <div class="am-form-group am-form-icon">
        <i class="am-icon-user"></i>
        <input type="number" name="mobile" class="am-input-lg am-radius am-form-field" id="phonenumber" value="" placeholder="输入手机号码">
      </div>
      <div class="am-form-group am-form-icon">
        <i class="am-icon-lock"></i>
        <input type="password" name="password" class="am-input-lg am-radius am-form-field" id="password" value="" placeholder="输入密码">
      </div>
      <div class="am-cf">
        <input type="submit" id="loginbtn" name="" value="登  录" class="am-btn am-btn-primary am-radius am-btn-lg am-btn-block">
        <div class="am-btn am-btn-default am-radius am-btn-lg am-btn-block"  onclick="javascript:window.location.href='{:U("User/register")}'">还没有账号？立即注册
        </div>
      </div>
    </form>
  </div>
</div>

</br>
</br>
</br>

<ul class="am-list">
  <li><a href="aboutme.html">&nbsp;&nbsp;关于我们<img src="__IMG__/rightfold.png" class="minicon"></a></li>
  <li><a href="feedback.html">&nbsp;&nbsp;意见反馈<img src="__IMG__/rightfold.png" class="minicon"></a></li>
  <li><a href="#">&nbsp;&nbsp;推荐给朋友<img src="__IMG__/rightfold.png" class="minicon"></a></li>
</ul>
</block>
<block name="script">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/amazeui.min.js"></script>
    <script type="text/javascript">
$(function(){
  $('#loginbtn').click(function(){
    var phonenumber = $('#phonenumber').val();
    var password = $('#password').val();
    if(phonenumber==""){
      $("#dangeralert_text").html("手机号码不能为空");
      $('#dangeralert').show();
      return false;
    }
    else if(phonenumber.length!=11){
      $("#dangeralert_text").html("手机号码长度错误");
      $('#dangeralert').show();
      return false;
    }
    else if(password==""){
      $("#dangeralert_text").html("密码不能为空");
      $('#dangeralert').show();
      return false;
    }
    else{
        $("#loginbtn").attr('disabled',"disabled");
        var lf = $("#loginForm");
        var ajaxUrl = lf.attr('action');
        $.post(ajaxUrl,lf.serialize(),success,'json');
        return false;
        function success(data){
            if(data.status){
                alert('登录成功');

            }else{
                $("#dangeralert_text").html(data.info);
                $('#dangeralert').show();
                $("#loginbtn").attr('disabled',false);
            }
        }
    }
  })
});
</script>
</block>