<extend name="Base/common"/>
<block name='style'>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 100%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</block>
<!-- Header -->
<block name="header-title">
  <div class="am-header-left am-header-nav">
      <a href="javascript:history.back(-1)" class="">
          <img class="am-header-icon-custom" src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 12 20&quot;&gt;&lt;path d&#x3D;&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill&#x3D;&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/>       
      </a>
  </div>
  <h1 class="am-header-title">
    <a href="#title-link">会员中心</a>
  </h1>
</block>
<block name="body">
  

<ul class="am-list">
  <li><a href="{:U('User/myinfo')}">&nbsp;&nbsp;您好，{$uinfo.mobile}<img src="__IMG__/rightfold.png" class="minicon"></a></li>
</ul>
<ul class="am-list">
  <li><a href="{:U('User/my_stock')}">&nbsp;&nbsp;管理库存<img src="__IMG__/rightfold.png" class="minicon"></a> </li>
  <li><a href="{:U('User/my_recruit')}">&nbsp;&nbsp;我的招聘<img src="__IMG__/rightfold.png" class="minicon"></a></li>
  <li><a href="{:U('User/profile')}">&nbsp;&nbsp;修改密码<img src="__IMG__/rightfold.png" class="minicon"></a></li>
</ul>
<include file="Public/infolists"/>

</block>
<block name="script">
  <script src="__JS__/jquery.min.js"></script>
  <script src="__JS__/amazeui.min.js"></script>
 
</block>