<extend name="Base/common"/>
<block name='style'>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 100%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</block>
<!-- Header -->
<block name="header-title">
  <div class="am-header-left am-header-nav">
      <a href="javascript:history.back(-1)" class="">
          <img class="am-header-icon-custom" src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 12 20&quot;&gt;&lt;path d&#x3D;&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill&#x3D;&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/>       
      </a>
  </div>
  <h1 class="am-header-title">
    <a href="#title-link">公司信息</a>
  </h1>
</block>
<block name="body">
  

</br>
<div class="header">
<div class="am-alert am-alert-danger" id="dangeralert" data-am-alert style="display:none;">
  <p id="dangeralert_text"></p>
</div>


<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <form method="post" action="__SELF__" class="am-form am-radius">

      <input type="text" name="name" class="am-input-lg am-radius" id="companyname" value="{$cinfo.name}" placeholder="企业名称"></br>
      <input type="text" name="small_name" class="am-input-lg am-radius" id="companysimplename" value="{$cinfo.small_name}" placeholder="企业简称"></br>
      <input type="text" name="ware_address" class="am-input-lg am-radius" id="warehouseaddress" value="{$cinfo.ware_address}" placeholder="仓库地址"></br>

      经营模式：
      <select name="pattern" data-am-selected>
        <volist name=":C('PATTERN')" key='k' id="vo">
          <option <eq name="cinfo.pattern" value="$k">selected="selected"</eq> value="{$k}">{$vo}</option>
        </volist>
      </select>
      </br></br>

      主营业务：
      <select name="business" id="yewuselected" multiple data-am-selected="{maxHeight: 150}">

      <volist name=":C('BUSINESS')" key='k' id="vo">
        <if condition="check_business($cinfo['business'],$k)">
          <option selected="selected" value="{$k}">{$vo}</option>
        <else/>
          <option value="{$k}">{$vo}</option>
        </if>
      </volist> 
      </select>
      <input type="hidden" id="yewu" name="business" value="{$cinfo.business}">
      </br></br>

      <div class="am-cf">
         <div class="am-btn am-btn-primary  am-radius am-btn-lg am-btn-block" id="nextbtn" >完成注册</div>
      </div>
      </br>
    </form>
  </div>
</div>


</block>
<block name="script">
  <script src="__JS__/jquery.min.js"></script>
  <script src="__JS__/amazeui.min.js"></script>
   <script type="text/javascript">
      $(function(){

        $('#nextbtn').click(function(){
          var name = $('#name').val();
          var telnumber = $('#telnumber').val();
          var qqnumber = $('#qqnumber').val();
          var phonenumber = $('#phonenumber').val();
          var faxnumber = $('#faxnumber').val();
          var email = $('#email').val();
          if(name==""||telnumber==""||qqnumber==""||phonenumber==""||faxnumber==""||email==""){
            $("#dangeralert_text").html("您有的项目还没有填写");
            $('#dangeralert').show();
            return false;
          }
          else{
            var selectedValues = [];
            $("#yewuselected").each(function(){
               selectedValues.push($(this).val()); 
               document.getElementById("yewu").setAttribute("value", selectedValues);
            });

            //提交数据
            var self = $('form');
            var ajaxUrl = self.attr('action');
            $.post(ajaxUrl,self.serialize(),success,'json');
            return false;
            function success(data){
              if(data.status){
                window.location.href = data.url;
              }else{
                $("#dangeralert_text").html(data.info);
                $('#dangeralert').show();
                return false;
              }
            }

            window.location.href='register3company.html'
            return true;
       
          }
        })
      });
    </script>
</block>