<extend name="Base/common"/>
<block name='style'>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 100%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</block>

<!-- Header -->
<block name="header-title">
  <div class="am-header-left am-header-nav">
      <a href="javascript:history.back(-1)" class="">
          <img class="am-header-icon-custom" src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 12 20&quot;&gt;&lt;path d&#x3D;&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill&#x3D;&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/>       
      </a>
  </div>
  <h1 class="am-header-title">
    <a href="#title-link">修改密码</a>
  </h1>
</block>
<block name="body">
  <div class="header">
  <div class="am-alert am-alert-danger" id="dangeralert" data-am-alert style="display:none;">
    <p id="dangeralert_text"></p>
  </div>
</div>
  </br>
  <div class="am-g">
    <div class="am-u-md-8 am-u-sm-centered">
      <form class="am-form" action="__SELF__">
        <fieldset class="am-form-set">
          <input class="am-input-lg" name="old" type="text" placeholder="输入旧密码">
          <input class="am-input-lg" name="password" type="text" placeholder="输入新密码">
          <input class="am-input-lg" name="repassword" type="text" placeholder="重复输入密码">
        </fieldset>
        <button type="submit" class="am-btn am-btn-primary am-btn-block">保存</button>
      </form>
    </div>
  </div>

</block>
<block name="script">
  <script src="__JS__/jquery.min.js"></script>
  <script src="__JS__/amazeui.min.js"></script>
  <script type="text/javascript">
    $(function(){
      $('form').submit(function(){
        var self = $(this);
        var ajaxUrl = self.attr('action');
        $.post(ajaxUrl,self.serialize(),success,'json');
        return false;
        function success(data){
          if(data.status){
            $("#dangeralert_text").html(data.info);
            $('#dangeralert').css('background-color','#35ecac');
            $('#dangeralert').css('border-color','#35ecac');
            $('#dangeralert').show();

            return false;
          }else{
            $("#dangeralert_text").html(data.info);
            $('#dangeralert').css('background-color','#dd514c');
            $('#dangeralert').css('border-color','#dd514c');
            $('#dangeralert').show();
            return false;
          }
        }
      })
    })
  </script>
</block>