<extend name="Base/common"/>

<block name="style">
    <style>
      .header {
        text-align: center;
      }
      .header h1 {
        font-size: 100%;
        color: #333;
        margin-top: 30px;
      }
      .header p {
        font-size: 14px;
      }

      /*注册验证吗*/
      .am-form input[name="code"]
      {
        display: inline-block;
        width:calc(70%);
        top:0;
      }
      .am-form input[name="sms"]
      {
        margin-left: -6px;
        display: inline-block;
        width: calc(30% + 0.03em);
        top:0;
        padding: 0.5em;
        color: #0e90d2;
        font-size: 1.6rem;
        line-height: 1.2;
        vertical-align: middle;
        border: 1px solid #ccc;
        border-radius: 0; 
      }
      .am-form input[name="sms"]:focus {
        border:0;
      }

    </style> 
</block>
<block name="body">
<div class="header">
  <div class="am-alert am-alert-danger" id="dangeralert" data-am-alert style="display:none;">
    <p id="dangeralert_text">两次输入的密码不相同</p>
  </div>

    <div class="am-g">
      <h1>第一步：填写用户信息</h1>
      <br>
    </div>
  </div>
  <div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
      <form id="registerForm" action="__SELF__" method="post" class="am-form am-radius">
        <fieldset class="am-form-set">
          <input type="number" name="mobile" class="am-input-lg am-radius" id="phonenumber" value="" placeholder="输入手机号码">
          <input type="number" name="code" class="am-input-lg am-radius" value="" placeholder="输入验证码">
          <input type="button" name="sms" id="codeId" class="am-input-lg am-radius" value="点击发送短信" onclick="get_mobile_code();">
          <input type="password" id="password" name="password" class="am-input-lg am-radius" value="" placeholder="输入密码">
          <input type="password" id="passwordagain" name="repassword" class="am-input-lg am-radius"  value="" placeholder="确认密码">
        </fieldset>

        <br>
        <div class="am-cf">
           <div class="am-btn am-btn-primary  am-radius am-btn-lg am-btn-block" id="nextbtn" >下一步，填写联系方式</div>
        </div>
      </form>
    </div>
  </div>
</block>
<block name="script">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/amazeui.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $('#nextbtn').click(function(){
          var phonenumber = $('#phonenumber').val();
          var password = $('#password').val();
          var passwordagain = $('#passwordagain').val();
          if(password!=passwordagain){
            $("#dangeralert_text").html("两次输入的密码不相同");
            $('#dangeralert').show();
            return false;
          }
          else if(phonenumber==""||password==""||passwordagain==""){
            $("#dangeralert_text").html("您有的项目还没有填写");
            $('#dangeralert').show();
            return false;
          }
          else if(phonenumber.length!=11){
            $("#dangeralert_text").html("手机号码长度错误");
            $('#dangeralert').show();
            return false;
          }
          else{
            
            var rf = $("#registerForm");
            var ajaxUrl = rf.attr('action');
            $.post(ajaxUrl,rf.serialize(),success,'json');
            return false;
            function success(data){
              if(data.status){
                window.location.href = data.url;
              }else{
                $("#dangeralert_text").html(data.info);
                $('#dangeralert').show();
                return false;
              }
            }
          }
        })
        
      });
      
      var iTime = 59;
      var Account;
      function RemainTime(){
        document.getElementById('codeId').disabled = true;
        var iSecond,sSecond="",sTime="";
        if (iTime >= 0){
          iSecond = parseInt(iTime%60);
          iMinute = parseInt(iTime/60)
          if (iSecond >= 0){
            if(iMinute>0){
              sSecond = iMinute + "分" + iSecond + "秒";
            }else{
              sSecond = iSecond + "秒";
            }
          }
          sTime=sSecond;
          if(iTime==0){
            clearTimeout(Account);
            sTime='获取手机验证码';
            iTime = 59;
            document.getElementById('codeId').disabled = false;
          }else{
            Account = setTimeout("RemainTime()",1000);
            iTime=iTime-1;
          }
        }else{
          sTime='没有倒计时';
        }
        document.getElementById('codeId').value = sTime;
      }
      function get_mobile_code(){
        $.post('{:U("Member/Sms/getSms")}', {mobile:jQuery.trim($("input[name='mobile']").val()),send_code:<?php echo $_SESSION['send_code'];?>}, function(msg) {

            if(!msg.status){
              $("#dangeralert_text").html(msg.info);
              $('#dangeralert').show();
              return false;
            }else{
              RemainTime();
            }
        },'json');
      }
      </script>
</block>