<extend name="Base/common"/>

<block name="style">
    
</block>
<block name="header-title">
  <div class="am-header-left am-header-nav">
      <a href="javascript:history.back(-1)" class="">
          <img class="am-header-icon-custom" src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 12 20&quot;&gt;&lt;path d&#x3D;&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill&#x3D;&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/>       
      </a>
  </div>
  <h1 class="am-header-title">
    <a href="#title-link">头条新闻</a>
  </h1>
</block>
<block name="body">
<!-- 公司详情 -->
<div class="am-panel am-panel-default" id="companymain" style="">
  <div class="am-panel-hd">
    <h3 class="am-panel-title">{$info.title}</h3>
  </div>
  <div class="am-panel-bd">
    <p>
     <!--  <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }">
      <img src="__IMG__/bxg1.jpg" alt="太钢纳米晶超薄带行试生产"/> -->
          <figcaption class="am-figure-capition-btm">
            {$info.title}
          </figcaption>  
      </figure>
    </p>
    
    <p>
      {$info.content}
    </p>
    <p>发布时间：2016-09-18</p>
  </div>
  
</div>
</block>
<block name="script">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/amazeui.min.js"></script>
    <script type="text/javascript">
      function ReImgSize(){
          for (j=0;j<document.images.length;j++)
          {
          document.images[j].width=(document.images[j].width>320)?"320":document.images[j].width;
          }
        }
        ReImgSize()

    </script>
    <script type="text/javascript">
      function ReTableSize(){
        obj = document.getElementsByTagName("table");
        for(i=0;i<obj.length;i++){
          obj[i].style.width="100%";
        }
      }
       ReTableSize();
</script>
</block>