<extend name="Base/common"/>

<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/main.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/top.css"/>
    
    <script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
</block>
<block name="body">
  <div class="clear"></div>
<div class="spot" style="padding-bottom:60px;">

    <div class="fields">
        <span class="zw">主营产品</span>
        <span class="yw">/products</span>
        <div class="xt"></div><!--实线线-->
        
        <div class="tops">
            <img src="{$himg1.path|default=''}" />
            
              <div class="cons">
              
            <div class="title">
            【{$company.small_name}】 铜镍合金 钛合金管件定制 超级奥氏体 双相 超级双相等特种钢管件
            </div>
            
            <p>浙江禧力琦科技有限公司是一家专业从事奥氏体不锈钢 超级奥氏体不锈钢 双相不锈钢 超级双相不锈钢 铜镍合金 钛合金等特种钢管件 法兰系列产品开发、生产及销售的股份制企
            业。
            </p>
            <div class="zd">
                起订数量：按需定制
            </div>
            <div class="bt">
                <a class="bt_f"  href="tencent://message/?uin={$vo['contact']['qq']}&amp;Site=www.gousteel.com&amp;Menu=yes" target="_blank"></a>
                <div class="bt_shi"></div>
                <div class="sp"></div>
            </div>
            <div class="p1">地址：{$company.com_address}</div>
            <div class="p1">承诺：按合同约定</div>
            <div class="p1">订金生产 生产完毕 款到发货</div>
        </div>
        <div class="box">
            <div class="tiles">
                联系方式    
            </div>
            <span>浙江禧力琦科技有限公司</span>
            <div><strong class="h1">联系人：</strong>李衡(销售总经理)</div>
            <div><strong class="h1">手机：</strong>15057872567</div>
            <div><strong class="h1">电话：</strong>0578-2991888</div>
            <div><strong class="h1">传真：</strong>0578-2991883</div>
            <div><strong class="h1">地址：</strong>浙江省丽水市莲都区水阁工业区南明路801号</div>
            <div><strong class="h1">主营业务：</strong>不锈钢制品,加工</div>
            <span style="color:#F00; line-height:25px;
             margin-top:10px;">温馨提示：请注明是在"购钢现货网"上看到此信息。</span>
            
        </div>
        </div>
      
      <div class="kz"></div>
    <span class="zw">公司介绍</span>
        <span class="yw" style="width:200px;">/Company Profile</span>
        <div class="xt"  style="width:880px;"></div><!--实线线-->
    <div class="contens">
           <p>购钢现货网（http://www.gousteel.com），创建于2013年，由上海天予软件科技有限公司和温州海棠文化传媒有限公司共同开发运营，是目前国内资源最多、专业性最强的服务于不锈钢行业的电子商务平台之一。</p>
  <p>         
购钢现货网，总部设在上海，分部设在中国不锈钢无缝管生产基地——温州，以及浙江松阳、安徽绩溪、福建霞浦等外迁基地为依托，建立起庞大的不锈钢现货数据库，旨为不锈钢生产商、销售商及下游用户提供最精准的不锈钢现货搜索服务。购钢网的推出，打破了传统的找现货、卖现货的瓶颈，精准、方便、快捷，找现货更方便，卖现货更顺畅。我们要打造最专业的不锈钢电子商务平台！
</p>
<p>
我们公司不仅提供不锈钢行业电子商务平台，还为企业量身定制：企业网站建设服务及企业形象策划、宣传画册设计等综合服务。我们将秉承"开拓、创新、务实"的企业精神，立足行业，面向全国，打造国内最好的不锈钢电子商务平台！</p>

<p>购钢现货网，愿做您最忠实的合作伙伴！</p>
    </div>  
</div>
<div class="clear"></div>
</div>

</block>
