<extend name="Base/common"/>

<block name="style">
    <link href="__STATIC__/swhz/css/css.css" rel="stylesheet" type="text/css" />
</block>
<block name="body">
    <div class="main">
        <div class="mainin" style="background:url(_STATIC__/swhz/images/p_01_bg.jpg)"><img src="__STATIC__/swhz/images/p_01.png" width="1440" height="320" /></div>
        <div class="mainin" style="background:#fff"><img src="__STATIC__/swhz/images/p_02.jpg" /></div>
        <div class="mainin" style="background:#b9b9b9"><img src="__STATIC__/swhz/images/p_03.jpg" /></div>
        <div class="mainin" style="background:#f2f3f7"><img src="__STATIC__/swhz/images/p_04.jpg" /></div>
        <div class="mainin" style="background:#d1d1d1"><img src="__STATIC__/swhz/images/p_05.jpg" /></div>
        <div class="mainin" style="background:#f2f3f7"><img src="__STATIC__/swhz/images/p_06.jpg" /></div>
    </div>
</block>
