<extend name="Base/common"/>

<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/main.css">
    <style>
        .pageContent { width:1180px; margin:auto; border:1px solid #e8e8e8;}
    </style>
</block>
<block name="body">
    <div class="pageContent">
        <img src="images/xz_01.jpg" />
        <img src="images/xz_02.jpg" />
        <img src="images/xz_03.jpg" />
        <img src="images/xz_04.jpg" />
        <img src="images/xz_05.jpg" />
    </div>
</block>
