<extend name="Base/common"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/details.css">
</block>
<block name="body">
    <div class="wrap">
        <div class="bread">
            <div class="inBread main">
                <span><a href="javascript:;">首页</a></span><span> > </span><span><a href="javascript:;">找办公空间</a></span><span> > </span><span class="current">光启城</span>
            </div>
        </div>
        <div class="inWrap main clearfix">
            <div class="wrapL">
                <div class="work bd">
                    <h4>办公空间</h4>
                    <p>上海市徐汇区光启城商务中心</p>
                </div>
                <div class="serve bd">
                    <h4>服务式办公</h4>
                    <strong>¥1500</strong>
                    <span>起/工位/月</span>
                    <p>价格会受到一些因素影响，包括所需工位数，租期长短等</p>
                </div>
                <div class="peple bd">
                    <h4>此中心顾问</h4>
                    <img src="__IMG__/serve_de01.jpg">
                    <p><span>光启城商务楼</span><em>孙悟空</em></p>
                    <div class="btns">
                        <button>视频观看</button>
                        <button>在线预约</button>
                        <button>点击收藏</button>
                    </div>
                    <img src="__IMG__/code.jpg">
                    <p>轻扫二维码分享给小伙伴</p>
                </div>
            </div>
            <div class="wrapR">
                <div class="tab">
                    <div class="tabHd">
                        <ul class="clearfix">
                            <li  class="current"><a href="javascript:;">实时讯息</a></li>
                            <li><a href="javascript:;">促销讯息</a></li>
                        </ul>
                    </div>
                    <div class="tabBd clearfix">
                        <ol>
                            <li>
                                <a href="javascript:;"  class=" btn-primary" data-toggle="modal" data-target="#myModal">
                                    <img src="__IMG__/details_01.jpg">
                                    <h3>￥3000 / 3人间 / 月</h3>
                                    <p>促销期限：</p>
                                    <p>2015.7.1 ~ 2015.7.30</p>
                                    <p>可免费扩充 5人位</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"  class=" btn-primary" data-toggle="modal" data-target="#myModal">
                                    <img src="__IMG__/details_02.jpg">
                                    <h3>￥3000 / 3人间 / 月</h3>
                                    <p>促销期限：</p>
                                    <p>2015.7.1 ~ 2015.7.30</p>
                                    <p>可免费扩充 5人位</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"  class=" btn-primary" data-toggle="modal" data-target="#myModal">
                                    <img src="__IMG__/details_03.jpg">
                                    <h3>￥3000 / 3人间 / 月</h3>
                                    <p>促销期限：</p>
                                    <p>2015.7.1 ~ 2015.7.30</p>
                                    <p>可免费扩充 5人位</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"  class=" btn-primary" data-toggle="modal" data-target="#myModal">
                                    <img src="__IMG__/details_04.jpg">
                                    <h3>￥3000 / 3人间 / 月</h3>
                                    <p>促销期限：</p>
                                    <p>2015.7.1 ~ 2015.7.30</p>
                                    <p>可免费扩充 5人位</p>
                                </a>
                            </li>
                        </ol>
                        <ol>
                            <li>
                                <a href="javascript:;"  class=" btn-primary" data-toggle="modal" data-target="#myModal">
                                    <img src="__IMG__/details_02.jpg">
                                    <h3>￥3000 / 3人间 / 月</h3>
                                    <p>促销期限：</p>
                                    <p>2015.7.1 ~ 2015.7.30</p>
                                    <p>可免费扩充 5人位</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"  class=" btn-primary" data-toggle="modal" data-target="#myModal">
                                    <img src="__IMG__/details_02.jpg">
                                    <h3>￥3000 / 3人间 / 月</h3>
                                    <p>促销期限：</p>
                                    <p>2015.7.1 ~ 2015.7.30</p>
                                    <p>可免费扩充 5人位</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"  class=" btn-primary" data-toggle="modal" data-target="#myModal">
                                    <img src="__IMG__/details_02.jpg">
                                    <h3>￥3000 / 3人间 / 月</h3>
                                    <p>促销期限：</p>
                                    <p>2015.7.1 ~ 2015.7.30</p>
                                    <p>可免费扩充 5人位</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"  class=" btn-primary" data-toggle="modal" data-target="#myModal">
                                    <img src="__IMG__/details_02.jpg">
                                    <h3>￥3000 / 3人间 / 月</h3>
                                    <p>促销期限：</p>
                                    <p>2015.7.1 ~ 2015.7.30</p>
                                    <p>可免费扩充 5人位</p>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="carousel">
                    <div class="inCarousel">
                        <ul class="imgList">
                            <li>
                                <a href="javascript:;"><img src="__IMG__/de_list01.jpg"></a>
                            </li>
                            <li>
                                <a href="javascript:;"><img src="__IMG__/around_list02.jpg"></a>
                            </li>
                            <li>
                                <a href="javascript:;"><img src="__IMG__/around_list01.jpg"></a>
                            </li>
                        </ul>
                        <div class="imgShade"><p>该商务中心自诩有一些优势 - 位于地铁浦电路站近在咫尺，地段优势明显</p></div>
                    </div>
                    <button class="leftBtn"></button>
                    <button class="rightBtn"></button>
                </div>
                <div class="carDown">
                    <ol class="clearfix">
                        <li>前台接待服务</li>
                        <li>多国语言服务</li>
                        <li>独立电话系统</li>
                        <li>网络线路支持</li>
                        <li>WIFI无线网络</li>
                        <li>有线电视网络</li>
                        <li>整套办公家具</li>
                        <li>会议室</li>
                        <li>投影设备</li>
                        <li>视频会议系统</li>
                        <li>异地办公</li>
                        <li>财务支持</li>
                        <li>法务支持</li>
                        <li>IT支持</li>
                        <li>人事支持</li>
                    </ol>
                    <ul class="slUp clearfix">
                        <li>前台接待服务</li>
                        <li>多国语言服务</li>
                        <li>独立电话系统</li>
                        <li>网络线路支持</li>
                        <li>WIFI无线网络</li>
                        <li>有线电视网络</li>
                        <li>整套办公家具</li>
                        <li>会议室</li>
                        <li>投影设备</li>
                        <li>视频会议系统</li>
                        <li>异地办公</li>
                        <li>财务支持</li>
                        <li>法务支持</li>
                        <li>IT支持</li>
                        <li>人事支持</li>
                    </ul>
                    <button class="pack">展开更多信息+</button>
                </div>
                <div class="office clearfix">
                    <div class="workRight">
                        <h4>办公空间</h4>
                        <p>钱江大厦地处浦电路东方路区域建筑群的中心位置，地铁浦电路站近在咫尺，地段优势明显。大厦楼体方正，外立面选用钢化中空镀膜玻璃幕墙，外观简洁现代，楼内办公环境静雅怡人，近旁就是张家浜河道，无论工作休闲，均可享受到商务交流的便利和自然环境的清新。</p>
                    </div>
                    <div class="workImg">
                        <img src="__IMG__/work_01.png">
                        <img src="__IMG__/work_02.png">
                        <img src="__IMG__/work_03.png">
                    </div>
                </div>
                <div class="rim clearfix">
                    <h4>周边商业配套服务</h4>
                    <ul>
                        <li class="first">
                            <img src="__IMG__/rim_icon01.jpg">
                            <h5>地铁/公交站</h5>
                            <p class="star star10"></p>
                            <span>约<strong>3</strong>个站点</span>
                            <dl>
                                <dd>桂平路钦州南路</dd>
                                <dd>虹梅路东兰路</dd>
                                <dd>漕宝路桂平路</dd>
                                <dd>漕宝路虹梅路</dd>
                                <dd>桂平路漕宝路</dd>
                            </dl>
                        </li>
                        <li>
                            <img src="__IMG__/rim_icon02.jpg">
                            <h5>快餐</h5>
                            <p class="star star9"></p>
                            <span>约<strong>3</strong>个站点</span>
                            <dl>
                                <dd>桂平路钦州南路</dd>
                                <dd>虹梅路东兰路</dd>
                                <dd>漕宝路桂平路</dd>
                                <dd>漕宝路虹梅路</dd>
                                <dd>桂平路漕宝路</dd>
                            </dl>
                        </li>
                        <li>
                            <img src="__IMG__/rim_icon03.jpg">
                            <h5>餐厅</h5>
                            <p class="star star9"></p>
                            <span>约<strong>3</strong>个站点</span>
                            <dl>
                                <dd>桂平路钦州南路</dd>
                                <dd>虹梅路东兰路</dd>
                                <dd>漕宝路桂平路</dd>
                                <dd>漕宝路虹梅路</dd>
                                <dd>桂平路漕宝路</dd>
                            </dl>
                        </li>
                        <li>
                            <img src="__IMG__/rim_icon04.jpg">
                            <h5>银行</h5>
                            <p class="star star8"></p>
                            <span>约<strong>3</strong>个站点</span>
                            <dl>
                                <dd>桂平路钦州南路</dd>
                                <dd>虹梅路东兰路</dd>
                                <dd>漕宝路桂平路</dd>
                                <dd>漕宝路虹梅路</dd>
                                <dd>桂平路漕宝路</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="map">
                    <h4>地理位置</h4>
                    <p>钱江大厦地处浦电路东方路区域建筑群的中心位置，地铁浦电路站近在咫尺，地段优势明显。</p>
                    <img src="__IMG__/map_bg.jpg">
                </div>
                <div class="around">
                    <h4>周边办公间</h4>
                    <ul class="clearfix">
                        <li class="first">
                            <a href="javascript:;">
                                <img src="__IMG__/around_list01.jpg">
                                <h5>东苑丽宝广场</h5>
                                <p>钱江大厦地处浦电路东方路区域建筑群的中心位置......</p>
                                <strong>¥8000 起/工位/月</strong>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="__IMG__/around_list02.jpg">
                                <h5>东苑丽宝广场</h5>
                                <p>钱江大厦地处浦电路东方路区域建筑群的中心位置......</p>
                                <strong>¥8000 起/工位/月</strong>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="__IMG__/around_list03.jpg">
                                <h5>东苑丽宝广场</h5>
                                <p>钱江大厦地处浦电路东方路区域建筑群的中心位置......</p>
                                <strong>¥8000 起/工位/月</strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="javascript">
    <script type="text/javascript" src="__JS__/details.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
</block>