
<div class="top_1">
    <div class="head_1">
    <span class="head_1_1">您好，欢迎来到购钢现货网！</span>
    <a class="blue" href="index.html">返回首页</a><span> | </span>
    <a class="blue" href="#">登陆</a><span> | </span>
    <a class="blue" href="#">注册</a><span> | </span>
    <a class="blue" href="#">加入收藏</a>
    </div>
</div>
<div class="top_2">
    <div class="head_2">
        <div class="h1"><img src="{$himg0.path|default='__IMG__/tp1.png'}" /></div>
    </div>
</div>
<div class="nav_bg">
    <ul class="nav">
        <li class="s1"><a href="index.html">首页</a></li>
        <li class="s1"><a href="about.html">企业简介</a></li>
        <li class="s1"><a href="qualified.html">企业资质</a></li>
        <li class="s1"><a href="stock.html">现货库存</a></li>
        <li class="s1"><a href="recruit.html">企业招聘</a></li>
        <li class="s1"><a href="contact.html">联系方式</a></li>
    </ul>
</div>