<div class="top">
    <div class="nav">
        <ul>
            <li><a href="#">首页</a></li>
            <li>
                <a href="#">
                <div style=" float:left">
                    搜索现货
                </div>
                <div class="span" style="float:left">
                    <img src="__IMG__/sanjiao.png"/>
                </div>
                </a>
                <div class="pay">
                    <div class="dis">
                    </div>
                    <ul>
                        <li class="list_1">
                        <span>钢管现货</span>
                        <div>
                            工业无缝管
                        </div>
                        <div>
                            卫生级无缝管
                        </div>
                        <div>
                            工业焊管
                        </div>
                        <div>
                            卫生级焊管
                        </div>
                        <div>
                            精密管
                        </div>
                        <div>
                            装饰管
                        </div>
                        <div>
                            毛细管
                        </div>
                        <div>
                            装饰管
                        </div>
                        </li>
                        <li class="list_1">
                        <span>板卷现货</span>
                        <div>
                            圆钢
                        </div>
                        <div>
                            管坯
                        </div>
                        <div>
                            角钢
                        </div>
                        <div>
                            扁钢
                        </div>
                        <div>
                            方钢
                        </div>
                        <div>
                            槽钢
                        </div>
                        <div>
                            线材
                        </div>
                        </li>
                        <li class="list_1">
                        <span>管件现货</span>
                        <div>
                            弯头
                        </div>
                        <div>
                            三通
                        </div>
                        <div>
                            四通
                        </div>
                        <div>
                            翻边
                        </div>
                        <div>
                            管帽
                        </div>
                        <div>
                            金属软管
                        </div>
                        </li>
                        <li class="list_1">
                        <span>法兰现货</span>
                        <div>
                            平焊法兰
                        </div>
                        <div>
                            对焊法兰
                        </div>
                        <div>
                            板式法兰
                        </div>
                        <div>
                            松套法兰
                        </div>
                        <div>
                            带颈法兰
                        </div>
                        <div>
                            人孔法兰
                        </div>
                        <div>
                            法兰盖
                        </div>
                        </li>
                        <li class="list_1">
                        <span>阀门现货</span>
                        <div>
                            球阀
                        </div>
                        <div>
                            蝶阀
                        </div>
                        <div>
                            闸阀
                        </div>
                        <div>
                            截止阀
                        </div>
                        <div>
                            止回阀
                        </div>
                        <div>
                            旋塞阀
                        </div>
                        <div>
                            疏水阀
                        </div>
                        <div>
                            减压阀
                        </div>
                        </li>
                        <li class="list_1">
                        <span>板卷现货</span>
                        <div>
                            板材
                        </div>
                        <div>
                            卷材
                        </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                <div style=" float:left">
                    资讯行情
                </div>
                <div class="span" style="float:left">
                    <img src="__IMG__/sanjiao.png"/>
                </div>
                </a>    
            <div class="pay1">
                <div class="dis">
                </div>
                <ul style="margin-top:0px;">
                    <li class="list_1">
                    <span>钢管现货</span>
                    <div>
                        热点新闻
                    </div>
                    <div>
                        市场快讯
                    </div>
                    <div>
                        会议会展
                    </div>
                    <div>
                        企业风采
                    </div>
                    </li>
                    <li class="list_1">
                    <span>行情频道</span>
                    <div>
                        原料行情
                    </div>
                    <div>
                        管型行情
                    </div>
                    <div>
                        泵阀行情
                    </div>
                    </li>
                </ul>
            </div>
            </li>
            <li><a href="#">加工定做</a></li>
            <li><a href="#">求购信息</a></li>
            <li><a href="#">人才招聘</a></li>
            <li><a href="#">货运物流</a></li>
            <li><a href="#">商务合作</a></li>
            </li>
            <li class="reg">
            <div class="login">
                登录
            </div>
            <div>
                |
            </div>
            <div class="register">
                免费注册
            </div>
            </li>
        </ul>
    </div>
    <div class="navdown">
        <div class="nleft">
            <img src="__IMG__/gs_login.png"/>
        </div>
        <div class="nright">
            欢迎注册
        </div>
    </div>
</div>