<extend name="Base/common" />

<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/overall.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/spancolle.css" />
    <script type="text/javascript" src="__JS__/layer.js"></script>
    <style>
        #headm li ul .i_h3 .h3_miss img {
            width: 8px;
            height: 8px;
            margin-top: 1px;
            padding-top: 4px;
            display: block;
        }
    </style>
</block>

<block name="body">
    <div class="spot">
    <div class="spot_con">
        <div class="spot_lirk">
            <div class="k_tp">
                <img src="__IMG__/k_tp1.png" />
            </div>
            <div class="k_tp">
                <img src="__IMG__/k_tp2.png" />
            </div>
            <div class="k_tp">
                <img src="__IMG__/k_tp3.png" />
            </div>
            <div class="k_tp">
                <img src="__IMG__/k_tp4.png" />
            </div>
            <div class="k_tp1">
                <img src="__IMG__/k_tp5.png"/>
            </div>
            <div class="k_tp">
                <img src="__IMG__/k_tp1.png" />
            </div>
            <div class="k_tp">
                <img src="__IMG__/k_tp2.png" />
            </div>
            <div class="k_tp">
                <img src="__IMG__/k_tp3.png" />
            </div>
            <div class="k_tp">
                <img src="__IMG__/k_tp4.png" />
            </div>
            <div class="k_tp1">
                <img src="__IMG__/k_tp5.png" />
            </div>
            <div class="clear"></div>
        </div>   

    </div>
 <div class="spot_left">    
        <div class="spot_right">
            <div class="right_title">便捷工具</div>
            <div class="right_fb">
                <div class="right_l">
                
                    <div class="h9">
                    <input  type="button"  onclick="showdiv9();"  
                    style=" height:68px; width:68px; background:url(__IMG__/right_jsj.png) no-repeat; float:right; color:#0e6eb8;cursor:pointer"/>
                    
                    <div id="bg9"></div>
                    
                    <div id="show9">
                    <div class="sckc">
                    <label class="L_1">重量计算器</label>
                    <input  type="button" value="X" onclick="hidediv9();" class="x1"/>
                    </div>
                    <div class="box_xg">
                            <div class=" la_box">外径(mm)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入外径"/>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">壁厚(mm)：</div>
                            <input name="" type="text"  class="la_inp"  value="请输入壁厚"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">长度(M)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入长度"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg2">
                            <div class=" la_box"></div>
                            <input name="" type="button" class="la_inp" value="提交" />
                    </div>
                     <div class="box_xg3">
                            <div class=" la_box"></div>
                            <div class="la_bal">
                                <span class="sp1">0</span>公斤/米,&nbsp;<span class="sp1">0</span>公斤
                            </div>
                            
                    </div>
                    </div>
                    </div> 
                   
                  
                     <div class="clear"></div>
                    
                    <div>重量计算器</div>
                    
                    
                </div>
                <div class="right_r">
                     <div class="h10">
                    <input  type="button"  onclick="showdiv10();"  
                    style=" height:68px; width:68px; background:url(__IMG__/right_yl.png)  no-repeat; float:right; color:#0e6eb8;cursor:pointer"/>
                    
                    <div id="bg10"></div>
                    
                    <div id="show10">
                    <div class="sckc">
                    <label class="L_1">压力计算器</label>
                    <input  type="button" value="X" onclick="hidediv10();" class="x1"/>
                    </div>
                   <div class="box_xg0">
                            <div class="la_box"></div>
                            <div class="la_inp">
                            <input name="" type="radio" value=""  checked="checked" class="rad"/><span class="sb1">算压力</span>
                            <input name="" type="radio" value=""  class="rad"/><span class="sb1">算壁厚</span>
                            </div>
                    </div>
                    <div class="box_xg">
                            <div class=" la_box">外径(mm)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入外径"/>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">壁厚(mm)：</div>
                            <input name="" type="text"  class="la_inp"  value="请输入壁厚"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">压力(Mpa)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入压力"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">材质：</div>
                            
                            <select name="">
                                <option selected="selected" value="520">304(抗拉强度为520)</option>
                                <option value="480">304L(抗拉强度为480)</option>
                                <option value="480">316L(抗拉强度为480)</option>
                                <option value="520">321(抗拉强度为520)</option>
                                <option value="520">310S(抗拉强度为520)</option>
                                <option value="530">316Ti(抗拉强度为530)</option>
                                <option value="480">317L(抗拉强度为480)</option>
                                <option value="520">347H(抗拉强度为520)</option>
                            </select>
                    </div>
                    </div>
                    </div> 
                    <div class="clear"></div>
                    <div>压力计算器</div>
                </div>
            </div>
        </div>
      
      
      
     <div class="left_xin">
            <div class="left_down">
                         <include file="Public/xhnav"/>
                    
            </div>
            
<!--立即搜索-->            
            <div class="left_middle">
                <div id="headm">
  <ul>
      <li id="pinzhongLi">
      <div class="dh"><a class="topa">
        <input name="pinzhong" type="text" class="box_ipt5" value="{:I('get.pinzhong')}" placeholder="三通">
        </a>
      <ul>
      <li class="i_h0"><img src="__IMG__/ggw_sanjiaoxing.png" /><span>管件</span></li>
        <li class="i_h1">
        <a href="{:U('Home/Guandao/molding_three',array('pinzhong'=>'15度弯头'))}">15度弯头</a>
        <a href="{:U('Home/Guandao/molding_three',array('pinzhong'=>'30度弯头'))}">30度弯头</a>
        <a href="{:U('Home/Guandao/molding_three',array('pinzhong'=>'45度弯头'))}">45度弯头</a>
        <a href="{:U('Home/Guandao/molding_three',array('pinzhong'=>'60度弯头'))}">60度弯头</a>
        <a href="{:U('Home/Guandao/molding_three',array('pinzhong'=>'90度弯头'))}">90度弯头</a>
        <a href="{:U('Home/Guandao/molding_three',array('pinzhong'=>'120度弯头'))}">120度弯头</a>
        <a href="{:U('Home/Guandao/molding_three',array('pinzhong'=>'180度弯头'))}">180度弯头</a>
        </li>
        <li class="i_hxian"></li> 
        <li class="i_h0"></li>
        <li class="i_h1" id="pinzhong">
        <a>三通</a>
        <a>四通</a>
        <a>Y型三通</a>
        <a>同心异径管</a>
        <a>偏心异径管</a>
        </li>
        <script type="text/javascript">
            $(function() {
                $(".clearbtn").click(function(){
                    var n = $(this).attr('parent-name');
                    $("input[name='" +n+ "']").val('');
                    
                    $(this).parent().removeClass('show');

                    $("#" + n + "Li").removeClass('show')
                })
                $('#pinzhong a').click(function() {
                    $("input[name='pinzhong']").val($(this).html());
                    $idstr = $(this).parent().attr('id');
                    $(this).parent().removeClass('show');

                    $("#pinzhongLi").removeClass('show')
                })
                
            })
        </script>
        <li class="i_hxian"></li>
        <li class="i_h0"></li>
      
        <li class="i_h1">
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'翻边'))}">翻边</a>
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'管帽'))}">管帽</a>
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'金属软管'))}">金属软管</a>
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'椭圆封头'))}">椭圆封头</a>
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'锥形封头'))}">锥形封头</a>
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'球形封头'))}">球形封头</a>
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'球冠形封头'))}">球冠形封头</a>
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'平底封头'))}">平底封头</a>
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'碟形封头'))}">碟形封头</a>
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'弓底封头'))}">弓底封头</a>
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'浅形封头'))}">浅形封头</a>
            <a href="{:U('Home/Guandao/molding_one',array('pinzhong'=>'桶体旋边封头'))}">桶体旋边封头</a>
        </li>
        <li class="i_hxian"></li>
        <li class="i_h2"><span>清除</span></li>
      </ul>
      </div>
    </li>
    <li id="caizhiLi">
      <div class="dh dh2"><a  class="topa"><input name="caizhi" type="text" class="box_ipt5" value="{:I('get.caizhi')}" placeholder="材质"></a>
          <ul>
            <li class="i_h3" id="caizhi">
            <div class="h3_miss"><img src="__IMG__/ggw_sanjiaoxing.png" /></div>
                <div class="h3_div"> 
                    <a>200</a>
                    <a>201</a>
                    <a>201H</a>
                    <a>201B</a>
                    <a>202</a>
                </div>
                <div class="clear"></div>
                <div class="h3_miss"><img src="__IMG__/ggw_sanjiaoxing.png" /></div>
                <div class="h3_div">
                    <a>301</a>
                    <a>302</a>
                    <a>304</a>
                    <a>304L</a>
                    <a>201H</a>
                    <a>304H</a>
                    <a>309</a>
                    <a>309S</a>
                    <a>310S</a>
                    <a>316</a>
                    <a>316L</a>
                    <a>316H</a>
                    <a>316Ti</a>
                    <a>317</a>
                    <a>317L</a>
                    <a>321</a>
                    <a>321H</a>
                    <a>347</a>
                    <a>347H</a>
                    <a>400</a>
                    <a>600H</a>
                    <a>625</a>
                    <a>800H</a>
                    <a>825</a>
                </div>
                 <div class="h3_miss"><img src="__IMG__/ggw_sanjiaoxing.png" /></div>
                <div class="h3_div">
                <a>TP304</a>
                <a>TP304L</a>
                <a>TP304H</a>
                <a>TP310S</a>
                <a>TP316</a>
                <a>TP316L</a>
                <a>TP316H</a>
                <a>TP316Ti</a>
                <a>TP317</a>
                <a>TP317L</a>
                <a>TP321</a>
                <a>TP321H</a>
                <a>TP347</a>
                <a>TP347H</a>
                <a>DP316L</a> 
                </div>
                <div class="h3_miss"><img src="__IMG__/ggw_sanjiaoxing.png" /></div>
                <div class="h3_div">
                <a>S31500</a>
                <a>S31803</a>
                <a>S32205</a>
                <a>S32304</a>
                <a>S32750</a>
                <a>S32760</a>
                <a>904L</a>
                <a>254SMO</a>
                <a>C-22</a>
                <a>C-276</a>
                </div>
                <div class="h3_miss"><img src="__IMG__/ggw_sanjiaoxing.png" /></div>
                <div class="h3_div">
                <a>1CR132</a>
                <a>CR13</a>
                <a>3CR13</a>
                <a>17-4PH</a>

                </div> 
            </li>
           <li class="i_h4"></li>
           <li class="i_h5"><span>清除</span></li>   
          </ul>
      </div>
    </li>
    <script type="text/javascript">
        $(function() {
            $('#caizhi a').click(function() {
                
                $("input[name='caizhi']").val($(this).html());
                $idstr = $(this).parent().attr('id');
                $(this).parent().removeClass('show');

                $("#caizhiLi").removeClass('show')
            })
            
        })
    </script>
    
    <li>
    <div class="dh"><input name="guige" type="text"  class="box_ipt6" value="{:I('post.guige')}" placeholder="规格"></div>
    </li>
    <li id="gongyiLi">
      <div class="dh"><a class="topa"><input name="gongyi" type="text" class="box_ipt5" value="{:I('post.gongyi')}" placeholder="工艺"></a>
      <ul>
        <li class="i_h0"><img src="__IMG__/ggw_sanjiaoxing.png" /><span>工艺</span></li>
        <li class="i_h1" id="gongyi">
        <a>无缝对焊</a>
        <a>有缝对焊</a>
        <a>承插</a>
        <a>螺纹</a>
        <a>卡压</a>
        <a>快装</a>
        <a>沟槽</a>

       
       
        </li>
        <li class="i_hxian"></li>
        <li class="i_h2"><span>清除</span></li>
      </ul>
      </div>
    </li>
        <script type="text/javascript">
            $(function() {
                $('#gongyi a').click(function() {
                    
                    $("input[name='gongyi']").val($(this).html());
                    $idstr = $(this).parent().attr('id');
                    $(this).parent().removeClass('show');

                    $("#gongyiLi").removeClass('show')
                })
                
            })
        </script>

       <li id="biaomianLi">
      <div class="dh dh2"><a  class="topa"><input name="biaomian" type="text" class="box_ipt5" value="{:I('get.biaomian')}" placeholder="表面"></a>
          <ul>
            <li class="i_h3" id="biaomian">
                <div class="h3_miss"><img src="__IMG__/ggw_sanjiaoxing.png" /></div>
                <div class="h3_div"> 
                             <a>喷砂</a>
                             <a>滚砂</a>
                             <a>酸洗</a>
                             <a>抛光</a>
                             <a>镜面</a>
                             <a>精车</a>
                </div>
                <div class="clear"></div>  
            </li>
           <li class="i_h4"></li>
           <li class="i_h5"><span>清除</span></li>  
          </ul>
      </div>
    </li>
    <script type="text/javascript">
        $(function() {
            $('#biaomian a').click(function() {
                
                $("input[name='biaomian']").val($(this).html());
                $idstr = $(this).parent().attr('id');
                $(this).parent().removeClass('show');

                $("#biaomianLi").removeClass('show')
            })
            
        })
    </script>
      <li><input name="" type="button" class="box_bt" value="立即搜索"></li>
    </ul>
</div>
<script type=text/javascript>
var lis = document.getElementById("headm").getElementsByTagName("li");
for(var i=0; i<lis.length; i++){
    lis[i].onmouseover=function(){
        this.className+=(this.className.length>0?" ":"") + "show";
    }
    lis[i].onmouseout=function(){
        this.className=this.className.replace(new RegExp("( ?|^)show\\b"), "");
    }
}
</script>

            </div>
<!--广播--> 
           <div class="left_dies">
             <div class="dies_gp">广播</div>
             <div class="dies_ico"><img src="__IMG__/gb.gif" /></div>
             <div class="dies_news">福建丰瑞不锈钢特价处理一批TP36L 76*4*6的无缝管（质量保证）</div>
           </div>
            
        </div>
        <div class="clear"></div>  
      
<!--信息-->  
     <div class="spit_sm">
     
       <div class="left_xx">
                <div class="xx_title">
                    
                    <div class="box_h9">工艺 </div>
                    <div class="box_h10"> R值</div>
                    <div class="box_h11">表面</div>
                    <div class="box_h12">材质</div>
                    <div class="box_h13">规格(mm)</div>
                    <div class="box_h14">个数</div>
                    <div class="box_h15">公司名称</div>
                    <div class="box_h16">联系我们</div>
                    <div class="box_h17">仓库区</div>
                    <div class="box_h18"> 更新时间</div>
                </div>
               <volist name="lists" id="vo" key="key">
                        <div class="xx_title1">

                            <div class="box_h9">{$vo.gongyi}</div>
                            <div class="box_h10">{$vo.rzhi}</div>
                            <div class="box_h11">{$vo.biaomian}</div>
                            <div class="box_h12">{$vo.caizhi}</div>
                            <div class="box_h13">{$vo.guige}</div>
                            <div class="box_h14">{$vo.shuliang}</div>
                            <div class="box_h15">{$vo['company']['name']}</div>
                            


                    <div class="box_h9">{$vo.gongyi}</div>
                    <div class="box_h10">{$vo.rzhi}</div>
                    <div class="box_h11"> 滚砂</div>
                    <div class="box_h12">S32750</div>
                    <div class="box_h13">159*5</div>
                    <div class="box_h14">1</div>
                    <div class="box_h15">温州大唐不锈钢 </div>   

                            <div id="title">
                                <ul>
                                    <li>
                                        <a href="#">点我联系</a>
                                        <div class="div_ul">
                                            <ul class="h1">
                                                <li class="s1">{$vo['company']['name']}</li>
                                                <li class="s2">进入商铺</li>
                                                <li class="s3">
                                                    <img src="__IMG__/h2_zhizhao.png" />
                                                    <span>执照已验证</span>
                                                    <span style="display:none">执照未验证</span>
                                                </li>
                                                <li class="s4">
                                                    <span>信用等级</span>
                                                    <div>
                                                        <img src="__IMG__/hongxing.png" />
                                                    </div>
                                                    <div>
                                                        <img src="__IMG__/hongxing.png" />
                                                    </div>
                                                    <div>
                                                        <img src="__IMG__/hongxing.png" />
                                                    </div>
                                                    <div>
                                                        <img src="__IMG__/huixing.png" />
                                                    </div>
                                                    <div>
                                                        <img src="__IMG__/huixing.png" />
                                                    </div>
                                                </li>
                                                <li class="s5"></li>
                                                <li class="s6">
                                                    联系人:朱呼呼（总经理）
                                                    <div class="aa">
                                                        <img src="__IMG__/qq.jpg" />
                                                    </div>
                                                </li>
                                                <li class="s7">电话：057786988161</li>
                                                <li class="s7">
                                                    手机：{$vo.mobile}
                                                    <span>{$vo.mobile2}</span>
                                                </li>
                                                <li class="s7">传真：{$vo.fax}</li>
                                                <li class="s7">经营模式：{$vo.business}</li>
                                                <li class="s7">仓库：{$vo.com_address}</li>
                                                <li class="s7">备注：{$vo.beizhu}</li>
                                            </ul>

                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="box_h7">{$vo.ware_city}</div>
                            <div class="box_h8">{$vo.create_time|mdate}</div>
                        </div>
                    </volist>
               <div class="xx_title1">
                    <div class="box_h9">无缝对焊</div>
                    <div class="box_h10">1.5</div>
                    <div class="box_h11"> 滚砂</div>
                    <div class="box_h12">S32750</div>
                    <div class="box_h13">159*5</div>
                    <div class="box_h14">1</div>
                    <div class="box_h15">温州大唐不锈钢 </div>    
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        <li class="s4">
                                            <span>信用等级</span>
                                            <div><img src="__IMG__/hongxing.png" /></div>
                                            <div><img src="__IMG__/hongxing.png" /></div>
                                            <div><img src="__IMG__/hongxing.png" /></div>
                                            <div><img src="__IMG__/huixing.png" /></div>
                                            <div><img src="__IMG__/huixing.png" /></div>
                                        </li>
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                    
                    <div class="box_h17">温州</div>
                    <div class="box_h18">1分钟前</div>
                </div>
                 
                
       </div> 
<!--信息右边-->         
        <div class="right_c">
            <img src="images/k_tp1.png"  class="right_gg"/>
            
            <img src="images/k_tp2.png" class="right_gg"/>
            <ul class="right_qg">
                <li class="right_title">
                    求购信息
                </li>
                <li class="right_li"><span>温州鑫郎特种钢材有限公司</span></li>
                <li class="right_li"><span>安徽南特钢业有限公司</span></li>
                <li class="right_li"><span>温州联顺（顺益）不锈钢</span></li>
                <li class="right_li"><span>温州市维钢流体设备有限公司</span></li>
                <li class="right_li"><span>温州科光钢业有限公司</span></li>
                <li class="right_li"><span>温州利群不锈钢有限公司</span></li>
                <li class="right_icp">发布求购</li>
                <div class="clear"></div>
            </ul>
            <ul class="right_qg" style="margin-top:18px; padding-bottom:11px;">
                <li class="right_title">
                    最活跃企业  <div class="right_ta">我要发布</div>
                </li>
                <li class="right_li"><span>温州鑫郎特种钢材有限公司</span></li>
                <li class="right_li"><span>安徽南特钢业有限公司</span></li>
                <li class="right_li"><span>温州联顺（顺益）不锈钢</span></li>
                <li class="right_li"><span>温州市维钢流体设备有限公司</span></li>
                <li class="right_li"><span>温州科光钢业有限公司</span></li>
                <li class="right_li"><span>温州利群不锈钢有限公司</span></li>
                <li class="right_li"><span>温州利群不锈钢有限公司</span></li>
                <li class="right_li"><span>温州利群不锈钢有限公司</span></li>
                <li class="right_li"><span>温州利群不锈钢有限公司</span></li>
                <li class="right_li"><span>温州利群不锈钢有限公司</span></li>
                 <li class="right_li"><span>温州利群不锈钢有限公司</span></li>
               
            </ul>
            
        </div>
       
       
       <div class="xx_down">
            <div class="xx_xia">{:getPagination($totalPageCount,20)}</div>
       </div>
          <div class="clear"></div>
      </div>
    <div class="clear"></div> 
    </div> 
</div>
</block>