<extend name="Base/common" />

<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/overall.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/spancolle.css" />
	<script type="text/javascript" src="__JS__/layer.js"></script>
	<script type="text/javascript" src="__JS__/plank.js"></script>
</block>
<block name="body">
	<div class="spot">
    <div class="spot_con">
        <div class="spot_lirk">
            <div class="k_tp">
                {:W('Home/ad',array(10051,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10052,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10053,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10054,211,60))}
            </div>
            <div class="k_tp1">
                {:W('Home/ad',array(10055,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10056,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10057,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10058,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10059,211,60))}
            </div>
            <div class="k_tp1">
                {:W('Home/ad',array(10060,211,60))}
            </div>
            <div class="clear"></div>
        </div>  

    </div>
     
 <div class="spot_left">    
        <div class="spot_right">
            <div class="right_title">便捷工具</div>
            <div class="right_fb">
                <div class="right_l">
                
                    <div class="h9">
                    <input  type="button"  onclick="showdiv9();"  
                    style=" height:68px; width:68px; background:url(__IMG__/right_jsj.png) no-repeat; float:right; color:#0e6eb8;cursor:pointer"/>
                    
                    <div id="bg9"></div>
                    
                    <div id="show9">
                    <div class="sckc">
                    <label class="L_1">重量计算器</label>
                    <input  type="button" value="X" onclick="hidediv9();" class="x1"/>
                    </div>
                    <div class="box_xg">
                            <div class=" la_box">外径(mm)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入外径"/>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">壁厚(mm)：</div>
                            <input name="" type="text"  class="la_inp"  value="请输入壁厚"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">长度(M)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入长度"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg2">
                            <div class=" la_box"></div>
                            <input name="" type="button" class="la_inp" value="提交" />
                    </div>
                     <div class="box_xg3">
                            <div class=" la_box"></div>
                            <div class="la_bal">
                                <span class="sp1">0</span>公斤/米,&nbsp;<span class="sp1">0</span>公斤
                            </div>
                            
                    </div>
                    </div>
                    </div> 
                   
                  <div class="clear"></div>
                    
                    
                    <div>重量计算器</div>
                    
                    
                </div>
                <div class="right_r">
                     <div class="h10">
                    <input  type="button"  onclick="showdiv10();"  
                    style=" height:68px; width:68px; background:url(__IMG__/right_yl.png)  no-repeat; float:right; color:#0e6eb8;cursor:pointer"/>
                    
                    <div id="bg10"></div>
                    
                    <div id="show10">
                    <div class="sckc">
                    <label class="L_1">压力计算器</label>
                    <input  type="button" value="X" onclick="hidediv10();" class="x1"/>
                    </div>
                   <div class="box_xg0">
                            <div class="la_box"></div>
                            <div class="la_inp">
                            <input name="" type="radio" value=""  checked="checked" class="rad"/><span class="sb1">算压力</span>
                            <input name="" type="radio" value=""  class="rad"/><span class="sb1">算壁厚</span>
                            </div>
                    </div>
                    <div class="box_xg">
                            <div class=" la_box">外径(mm)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入外径"/>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">壁厚(mm)：</div>
                            <input name="" type="text"  class="la_inp"  value="请输入壁厚"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">压力(Mpa)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入压力"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">材质：</div>
                            
                            <select name="">
                                <option selected="selected" value="520">304(抗拉强度为520)</option>
                                <option value="480">304L(抗拉强度为480)</option>
                                <option value="480">316L(抗拉强度为480)</option>
                                <option value="520">321(抗拉强度为520)</option>
                                <option value="520">310S(抗拉强度为520)</option>
                                <option value="530">316Ti(抗拉强度为530)</option>
                                <option value="480">317L(抗拉强度为480)</option>
                                <option value="520">347H(抗拉强度为520)</option>
                            </select>
                    </div>
                    </div>
                    </div> 
                    <div class="clear"></div>
                    <div>压力计算器</div>
                </div>
            </div>
        </div>
      
      
        <div class="left_xin">
            <div class="left_down">
                <include file="Public/xhnav"/>                    
            </div>
            
<!--立即搜索-->          
<form action="">  
            <div class="left_middle">
                <div id="headm">
  <ul>
    <li id="caizhiLi">
      <div class="dh dh2"><a  class="topa"><input name="caizhi" type="text" class="box_ipt5" value="{:I('get.caizhi')}" placeholder="材质"></a>
          <ul>
            <li class="i_h3" id="caizhi">
                <div class="h3_miss"><img src="__IMG__/ggw_sanjiaoxing.png" /></div>
                <div class="h3_div" > 
                    <a>201</a>
                    <a>202</a>
                    <a>304</a>
                    <a>316L</a>
                    <a>430</a>
                    <a>439</a>
                    <a>410</a>
                    <a>436</a>
                    <a>409L</a>
                   
                </div>
                <div class="clear"></div>  
            </li>
           <li class="i_h4"></li>
           <li class="i_h5"><span>清除</span></li>  
          </ul>
      </div>
    </li>
        <script type="text/javascript">
                                    $(function() {
                                        $('#biaomian a').click(function() {
                                            $("input[name='biaomian']").val($(this).html());
                                            $idstr = $(this).parent().parent().attr('id');
                                            $(this).parent().removeClass('show');
                                            console.log($("#" + $idstr + "Li"));
                                            $("#" + $idstr + "Li").removeClass('show')
                                        })
                                        $('#caizhi a').click(function() {
                                            $("input[name='caizhi']").val($(this).html());
                                            $idstr = $(this).parent().parent().attr('id');
                                            $(this).parent().parent().removeClass('show');
    
                                            $("#" + $idstr + "Li").removeClass('show')
                                        })
                                        $('#chengshi a').click(function() {
                                            $("input[name='chengshi']").val($(this).html());
                                            $idstr = $(this).parent().parent().attr('id');
                                            $(this).parent().removeClass('show');
                                            console.log($("#" + $idstr + "Li"));
                                            $("#" + $idstr + "Li").removeClass('show')
                                        })
                                        $('#changjia a').click(function() {
                                            $("input[name='changjia']").val($(this).html());
                                            $idstr = $(this).parent().parent().attr('id');
                                            $(this).parent().removeClass('show');
                                            
                                            $("#" + $idstr + "Li").removeClass('show')
                                        })
                                    })
                                </script>
   <li id="biaomianLi">
      <div class="dh dh2"><a  class="topa"><input name="biaomian" type="text" class="box_ipt5" placeholder="表面" value="{:I('get.biaomian')}"></a>
          <ul>
            <li class="i_h3" id="biaomian">
                <div class="h3_miss"><img src="__IMG__/ggw_sanjiaoxing.png" /></div>
                <div class="h3_div"> 
                    <a>BC</a>
                    <a>2B</a>
                    <a>NO.2B</a>
                    <a>2BB</a>
                    <a>BA1</a>
                    <a>BA</a>
                    <a>DC</a>
                    <a>2D</a>
                    <a>NO.1</a>
                    <a>3/4H</a>
                </div>
                <div class="clear"></div>  
            </li>
           <li class="i_h4"></li>
           <li class="i_h5"><span>清除</span></li>  
          </ul>
      </div>
    </li>
    
        <li>
      <div class="dh"><input name="guige" type="text"  class="box_ipt6" value="{:I('get.guige')}" placeholder="规格">
         
      </div>
      </li>
    
      <li id="changjiaLi">
      <div class="dh"><a class="topa"><input name="changjia" type="text" class="box_ipt5" value="{:I('get.changjia')}" placeholder="厂家"></a>
      <ul id="changjia">
        <li class="i_h0"><img src="__IMG__/ggw_sanjiaoxing.png" /><span>厂家</span></li>
        <li class="i_h1">
        <a>张家港浦项</a>
        <a>青岛浦项</a>
        <a>宝钢不锈</a>
        <a>宁波宝新</a>
        <a>多钢厂混包</a>
        <a>酒钢</a>
        <a>太钢不锈</a>
        <a>台州</a>
        <a>上海克虏伯</a>
        <a>东特</a>
        <a>广州联众</a>
        <a>福建鼎信</a>
        <a>甬金</a>
       
       
        </li>
        <li class="i_hxian"></li>
        <li class="i_h2"><span>清除</span></li>
      </ul>
      </div>
    </li>
    
    <li id="chengshiLi">
      <div class="dh dh2"><a  class="topa"><input name="chengshi" type="text" class="box_ipt5" placeholder="城市" value="{:I('get.chengshi')}"></a>
          <ul>
            <li class="i_h3" id="chengshi">
                <div class="h3_miss"><img src="__IMG__/ggw_sanjiaoxing.png" /></div>
                <div class="h3_div"> 
                           <a>温州</a>
                           <a>无锡</a>
                           <a>戴南</a>
                           <a>佛山</a>
                           <a>淄博</a>
                           <a>天津</a>
                           <a>成都</a>
                           <a>武汉</a>
                </div>
                <div class="clear"></div>  
            </li>
           <li class="i_h4"></li>
           <li class="i_h5"><span>清除</span></li>  
          </ul>
      </div>
    </li>
    
    
    
      <li><input name="" type="submit" class="box_bt" value="立即搜索"></li>
    </ul>
</div>
<script type=text/javascript>
var lis = document.getElementById("headm").getElementsByTagName("li");
for(var i=0; i<lis.length; i++){
    lis[i].onmouseover=function(){
        this.className+=(this.className.length>0?" ":"") + "show";
    }
    lis[i].onmouseout=function(){
        this.className=this.className.replace(new RegExp("( ?|^)show\\b"), "");
    }
}
</script>

            </div>
            </form>
<!--广播--> 
           <div class="left_dies">
             <div class="dies_gp">广播</div>
             <div class="dies_ico"><img src="__IMG__/gb.gif" /></div>
             <div class="dies_news">热列祝贺“购钢现货网”新版网站隆重上线</div>
           </div>
            
        </div>
        <div class="clear"></div>  
      
<!--信息-->  
     <div class="spit_sm">
     
       <div class="left_xxx">
                    <div class="xxx_title">
                    <div class="box_h1">材质/表面</div>
                    <div class="box_h2">规格(mm)</div>
                    <div class="box_h3">参厚(mm)</div>
                    <div class="box_h4">边部</div>
                    <div class="box_h5">等级</div>
                    <div class="box_h6">生产商</div>
                    <div class="box_h7">件重(公斤)</div>
                    <div class="box_h8">数量</div>
                    <div class="box_h9">供应商 </div>
                    <div class="box_h10">联系我们</div>
                    <div class="box_h11">仓库区</div>
                    <div class="box_h12">更新时间</div>
      </div>
                
               <volist name="lists" id="vo" key="key">
                 <div class="xx_title4">
                    <div class="box_h1">{$vo.caizhi}</div>
                    <div class="box_h2">{$vo.guige}</div>
                    <div class="box_h3">{$vo.canhou|default='无'}</div>
                    <div class="box_h4">{$vo.bianbu|default='无'}</div>
                    <div class="box_h5">{$vo.dengji}</div>
                    <div class="box_h6">{$vo.changjia|default="空"}</div>
                    <div class="box_h7">{$vo.zhongliang|default="0"}</div>
                    <div class="box_h8">{$vo.shuliang|default="0"}</div>
                    <div class="box_h9">{$vo['company']['small_name']}</div>
                    
                    <div id="title">
                                <ul>
                                    <li>
                                        <a href="#" class="aa_show">点我联系</a>
                                        <div class="div_ul">
                                            <ul class="h1">
                                                <li class="s1">{$vo['company']['name']}</li>
                                                <li class="s2" onClick="window.location.href='{:U('Home/Index/detail',array('cid'=>$vo['cid']))}'">进入商铺</li>
                                                <li class="s3">
                                                    <img src="__IMG__/h2_zhizhao.png" />
                                                    <span>执照已验证</span>
                                                    <span style="display:none">执照未验证</span>
                                                </li>
                                                
                                                <li class="s5"></li>
                                                <li class="s6"> 联系人:{$vo['contact']['name']}
                                                    <notempty name="vo['contact']['qq']">
                                                    <div class="aa">
                                                        <a class="aqq" style="background:none;padding:0;" href="tencent://message/?uin={$vo['contact']['qq']}&amp;Site=www.gousteel.com&amp;Menu=yes" target="_blank"><img src="__IMG__/qq.jpg" alt="点击这里给我发送消息" border="0"></a>

                                                    </div>
                                                    </notempty>
                                                </li>
                                                <li class="s7"> 电话：{$vo['contact']['tel']}</li>
                                                <li class="s7"> 手机：{$vo.mobile} </li>
                                                <li class="s7"> 传真：{$vo['contact']['fax']}</li>
                                                <li class="s7"> 经营模式：{$vo.business}</li>
                                                <li class="s7"> 仓库：{$vo.title|msubstr=0,20,'utf-8',false}</li>
                                                <li class="s7">备注：{$vo.beizhu|default='无'}</li>
                                            </ul>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                   
                    <div class="box_h11">{$vo.ware_city}</div>
                    <div class="box_h12">
                        {$vo.create_time|mdate}
                    </div>
                </div>
            </volist>
           
             
 
       </div> 
<!--信息右边-->         
      
       <div class="xx_down1">
            {:getPagination($totalPageCount,20)}
       </div>
          <div class="clear"></div>
      </div>
    <div class="clear"></div> 
    </div> 
</div>
</block>