<extend name="Base/common" />

<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/overall.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/spancolle.css" />
	<script type="text/javascript" src="__JS__/layer.js"></script>
	<script type="text/javascript" src="__JS__/valve.js"></script>
</block>
<block name="body">
	
<div class="spot">
    <div class="spot_con">
        <div class="spot_lirk">
            <div class="k_tp">
                {:W('Home/ad',array(10051,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10052,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10053,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10054,211,60))}
            </div>
            <div class="k_tp1">
                {:W('Home/ad',array(10055,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10056,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10057,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10058,211,60))}
            </div>
            <div class="k_tp">
                {:W('Home/ad',array(10059,211,60))}
            </div>
            <div class="k_tp1">
                {:W('Home/ad',array(10060,211,60))}
            </div>
            <div class="clear"></div>
        </div>  

    </div>
     
 <div class="spot_left">    
        <div class="spot_right">
            <div class="right_title">便捷工具</div>
            <div class="right_fb">
                <div class="right_l">
                
                    <div class="h9">
                    <input  type="button"  onclick="showdiv9();"  
                    style=" height:68px; width:68px; background:url(__IMG__/right_jsj.png) no-repeat; float:right; color:#0e6eb8;cursor:pointer"/>
                    
                    <div id="bg9"></div>
                    
                    <div id="show9">
                    <div class="sckc">
                    <label class="L_1">重量计算器</label>
                    <input  type="button" value="X" onclick="hidediv9();" class="x1"/>
                    </div>
                    <div class="box_xg">
                            <div class=" la_box">外径(mm)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入外径"/>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">壁厚(mm)：</div>
                            <input name="" type="text"  class="la_inp"  value="请输入壁厚"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">长度(M)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入长度"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg2">
                            <div class=" la_box"></div>
                            <input name="" type="button" class="la_inp" value="提交" />
                    </div>
                     <div class="box_xg3">
                            <div class=" la_box"></div>
                            <div class="la_bal">
                                <span class="sp1">0</span>公斤/米,&nbsp;<span class="sp1">0</span>公斤
                            </div>
                            
                    </div>
                    </div>
                    </div> 
                   
                  
                    
                    <div class="clear"></div>
                    <div>重量计算器</div>
                    
                    
                </div>
                <div class="right_r">
                     <div class="h10">
                    <input  type="button"  onclick="showdiv10();"  
                    style=" height:68px; width:68px; background:url(__IMG__/right_yl.png)  no-repeat; float:right; color:#0e6eb8;cursor:pointer"/>
                    
                    <div id="bg10"></div>
                    
                    <div id="show10">
                    <div class="sckc">
                    <label class="L_1">压力计算器</label>
                    <input  type="button" value="X" onclick="hidediv10();" class="x1"/>
                    </div>
                   <div class="box_xg0">
                            <div class="la_box"></div>
                            <div class="la_inp">
                            <input name="" type="radio" value=""  checked="checked" class="rad"/><span class="sb1">算压力</span>
                            <input name="" type="radio" value=""  class="rad"/><span class="sb1">算壁厚</span>
                            </div>
                    </div>
                    <div class="box_xg">
                            <div class=" la_box">外径(mm)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入外径"/>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">壁厚(mm)：</div>
                            <input name="" type="text"  class="la_inp"  value="请输入壁厚"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">压力(Mpa)：</div>
                            <input name="" type="text"  class="la_inp" value="请输入压力"/>
                            <span class="la_ts"></span>
                    </div>
                    <div class="box_xg1">
                            <div class=" la_box">材质：</div>
                            
                            <select name="">
                                <option selected="selected" value="520">304(抗拉强度为520)</option>
                                <option value="480">304L(抗拉强度为480)</option>
                                <option value="480">316L(抗拉强度为480)</option>
                                <option value="520">321(抗拉强度为520)</option>
                                <option value="520">310S(抗拉强度为520)</option>
                                <option value="530">316Ti(抗拉强度为530)</option>
                                <option value="480">317L(抗拉强度为480)</option>
                                <option value="520">347H(抗拉强度为520)</option>
                            </select>
                    </div>
                    </div>
                    </div> 
                    <div class="clear"></div>
                    <div>压力计算器</div>
                </div>
            </div>
        </div>
      
      
        <div class="left_xin">
            <div class="left_down">
                        <include file="Public/xhnav"/>
                    
            </div>
            
<!--立即搜索-->            
            <div class="left_middle">
                <div id="headm">
                    <div class="gs_box">
                        <div class="gs_left">
                             <div class="smul">
                                <div class="smli"><a>搜索公司</a>
                                </div>
                            </div>
                        </div>

                        <input name="" type="text"  class="gs_millde"  value="公司全称/公司简称/关键词"/>
                        <div class="gs_right">立即搜索</div>
                    </div>
                </div>
            </div>
<!--广播--> 
           <div class="left_dies">
             <div class="dies_gp">广播</div>
             <div class="dies_ico"><img src="__IMG__/gb.gif" /></div>
             <div class="dies_news">热列祝贺“购钢现货网”新版网站隆重上线</div>
           </div>
            
        </div>
        <div class="clear"></div>  
      
<!--信息-->  
     <div class="spit_sm">
     
       <div class="left_xxx">
                    <div class="xxx_title">
                    <div class="box_h1">材质/表面</div>
                    <div class="box_h2">规格(mm)</div>
                    <div class="box_h3">参厚(mm)</div>
                    <div class="box_h4">边部</div>
                    <div class="box_h5">等级</div>
                    <div class="box_h6">生产商</div>
                    <div class="box_h7">总重(吨)</div>
                    <div class="box_h8">数量</div>
                    <div class="box_h9">供应商 </div>
                    <div class="box_h10">联系我们</div>
                    <div class="box_h11">仓库区</div>
                    <div class="box_h12">更新时间</div>
      </div>
                
               <div class="xx_title3">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">1分钟前</div>
                </div>
                 <div class="xx_title4">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">1分钟前</div>
                </div>
                 <div class="xx_title3">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">1分钟前</div>
                </div>
                 <div class="xx_title4">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">1分钟前</div>
                </div>
                 <div class="xx_title3">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">1分钟前</div>
                </div>
                 <div class="xx_title4">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">
                        <div class="b1">1周内未更新</div>
                        <div class="b2">谨慎选择</div>
                    </div>
                </div>
                 <div class="xx_title3">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">
                        <div class="b1">1周内未更新</div>
                        <div class="b2">谨慎选择</div>
                    </div>
                </div>
                 <div class="xx_title4">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">
                        <div class="b1">1周内未更新</div>
                        <div class="b2">谨慎选择</div>
                    </div>
                </div>
                 <div class="xx_title3">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">
                        <div class="b1">1周内未更新</div>
                        <div class="b2">谨慎选择</div>
                    </div>
                </div>
                 <div class="xx_title4">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">
                    
                        <div class="b1">1周内未更新</div>
                        <div class="b2">谨慎选择</div>
                    </div>
                </div>
                 <div class="xx_title3">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">
                        <div class="b1">1周内未更新</div>
                        <div class="b2">谨慎选择</div>
                    </div>
                </div>
                 <div class="xx_title4">
                    <div class="box_h1">304DQ/2B</div>
                    <div class="box_h2">3*1037*C</div>
                    <div class="box_h3">2.79</div>
                    <div class="box_h4">毛边</div>
                    <div class="box_h5">一级品</div>
                    <div class="box_h6">太钢 </div>
                    <div class="box_h7">300</div>
                    <div class="box_h8">1</div>
                    <div class="box_h9">无锡大唐不锈钢</div>
                    <div id="title">                    
                        <ul>
                            <li>
                                <a href="#">点我联系</a>
                        <div class="div_ul">
                                <ul class="h1">
                                        <li class="s1">温州市衙城钢管厂</li>
                                        <li class="s2">进入商铺</li>
                                        <li class="s3">
                                            <img src="__IMG__/h2_zhizhao.png" />
                                            <span>执照已验证</span>
                                            <span style="display:none">执照未验证</span>
                                        </li>
                                        
                                        <li class="s5"></li>
                                        <li class="s6"> 联系人:朱呼呼（总经理）<div class="aa"><img src="__IMG__/qq.jpg" /></div></li>
                                        <li class="s7"> 电话：057786988161</li>
                                        <li class="s7"> 手机：13806689377     <span>13706664496</span></li>
                                        <li class="s7"> 传真：057728906377</li>
                                        <li class="s7"> 经营模式：生产加工</li>
                                        <li class="s7"> 仓库：龙湾区镇标西路64号</li>
                                        <li class="s7">备注：青山料，低价甩卖</li>
                                </ul>
                        
                        </div>
                           </li>
                        </ul>
                   </div>
                   
                    <div class="box_h11">温州</div>
                    <div class="box_h12">
                        <div class="b1">1周内未更新</div>
                        <div class="b2">谨慎选择</div>
                    </div>
                </div>
                
                 
           
             
 
       </div> 
<!--信息右边-->         
      
       <div class="xx_down1">
            <div class="xx_xia">
                    <div class="div_font2">页</div>  
                    <input name="" type="text" class="div_ipt" />
                    <div class="div_font1">跳转至</div>
                    <div class="div_right"></div>
                    <div class="div_pag">52</div>
                    <div class="div_pag">...</div>
                    <div class="div_pag">5</div>
                    <div class="div_pag">4</div>
                    <div class="div_pag">3</div>
                    <div class="div_pag">2</div>
                    <div class="div_pag">1</div>
                    <div class="div_left"></div>
                    <div class="div_buis">2/3979 页</div>
                    <div class="div_buis">79580 条记录</div>
            </div>
       </div>
          <div class="clear"></div>
      </div>
    <div class="clear"></div> 
    </div> 
</div>
</div>
</div>
</block>