@charset "utf-8";
/* CSS Document */
.AS_sp1{ font-size:14px; color:#666666; float:left}
.AS_sp2{ font-size:15px; color:#0e6eb8; margin:0 3px; float:right; font-weight:bold;}
.AS_sp3{font-size:14px; color:#666666; float:left; margin:0 10px;}
.AS_sp4{font-size:14px; color:#0e6eb8;float:left}
