<extend name="Base/common"/>

<block name="style">
    
</block>
<block name="body">
    



<!-- 公司详情 -->
<div class="am-panel-bd">
<p>您要找的是：{$info.pinzhong} 304 194*20*1300</p></br>
<p>更新日期：{$info.create_time|date="Y-m-d",###}</p>
<p style="font-weight:bold">供应商：{$company.name}</p>
<p>简称：{$company.small_name}</p>
<p>仓库：{$company.ware_address}</p>
<a href="tel:0577-85981955"><p>电话：{$contact.tel} </p></a>
<a href="tel:18957726920"><p>手机：{$contact.mobile}</p></a>
<a href="tel:0577-85981966"><p>传真：{$contact.fax}</p></a>
</div>
<div class="am-panel am-panel-default" id="companymain" style="">
  <div class="am-panel-hd">
    <h3 class="am-panel-title">公司介绍</h3>
  </div>
  <div class="am-panel-bd">
    <p>{$company.descsm} </p>
  </div>
</div>




</block>
<block name="script">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/amazeui.min.js"></script>
</block>